/* Icons */
/* >:D */
:root {
	--icons-css: 1px;
	--grayscale-logo: url(./icons/aboutdebugging-firefox-logo.svg) !important;
	@media (-moz-bool-pref: "uc.floorp") {
		--grayscale-logo: url(./icons/forks/floorp/floorp-grayscale.svg) !important;
	}
	@media (-moz-bool-pref: "uc.waterfox") {
		--grayscale-logo: url(./icons/forks/waterfox/waterfox-grayscale.svg) !important;
	}
	@media (-moz-bool-pref: "uc.librewolf") {
		--grayscale-logo: url(./icons/forks/librewolf/librewolf-grayscale.svg) !important;
	}
	@media (-moz-bool-pref: "uc.tor") {
		--grayscale-logo: url(./icons/forks/tor/tor-grayscale.svg) !important;
	}
	/* Legacy Logos */
	--quantum-logo: url(./icons/quantum/firefox-logo.svg);
	@media (-moz-bool-pref: "uc.logo.quantum") {
		--grayscale-logo: url(./icons/quantum/aboutdebugging-firefox-logo.svg) !important;
	}
	@media (-moz-bool-pref: "uc.logo.quantum-beta") {
		--quantum-logo: url(./icons/quantum/firefox-logo-beta.svg);
	}
	@media (-moz-bool-pref: "uc.logo.quantum-dev") {
		--quantum-logo: url(./icons/quantum/firefox-logo-dev.svg);
	}
	@media (-moz-bool-pref: "uc.logo.quantum-nightly") {
		--quantum-logo: url(./icons/quantum/firefox-logo-nightly.svg);
	}
}
/* Legacy Logos */
:is(img, image)[src="chrome://branding/content/icon32.png"] {
	@media (-moz-bool-pref: "uc.logo.quantum-beta") {
		--quantum-logo: url(./icons/quantum/firefox-logo.svg);
	}
	@media (-moz-bool-pref: "uc.logo.quantum") {
		content: var(--quantum-logo) !important;
	}
}
* {
	--message-bar-icon-close-url: url(./icons/close-icon2.svg) !important;
}
.urlbar-page-action * {
	transform: translateY(-1px)
}
/* More visible close button */
.tab-close-button {
	list-style-image: url(./icons/close-tab.svg) !important;
	-moz-context-properties: fill !important;
	fill: currentColor !important;
  	fill-opacity: 1 !important;
	stroke-linecap: round !important;
}
/* Info icon */
.panel-info-button image {
	list-style-image: url(./icons/info.svg) !important;
}
/* Photon sound icons */
.tab-icon-overlay[soundplaying] {
	list-style-image: url(./icons/tab-audio-playing.svg) !important;
}
.tab-icon-overlay[muted] {
	list-style-image: url(./icons/tab-audio-muted.svg) !important;
}
.tab-icon-overlay[activemedia-blocked] {
	list-style-image: url(./icons/tab-audio-blocked.svg) !important;
}
.tab-icon-overlay[pictureinpicture] {
	list-style-image: url(./icons/pictureinpicture.svg) !important;
}
/* New tab icon */
#tabs-newtab-button, #new-tab-button {
	> image {
		list-style-image: url(./icons/add.svg) !important;
	}
}
#vertical-tabs-newtab-button {
	list-style-image: url(./icons/add.svg) !important;
}
/* All tabs dropdown */
#alltabs-button {
	list-style-image: url(./icons/arrow-dropdown-16.svg) !important;
}
/* Changes the Firefox logo to that of the Photon grayscale one */
#identity-box.chromeUI > #identity-icon-box > #identity-icon {
	list-style-image: var(--grayscale-logo) !important;
}
/* Changes the connection icons to Photon's */
/* Go to about:config and change security.secure_connection_icon_color_gray to false for the green icon */
#identity-box.verifiedDomain[pageproxystate="valid"] #identity-icon {
	list-style-image: url(./icons/connection-secure.svg) !important
}
/* Pretend it still exists */
@media not (-moz-bool-pref: "security.secure_connection_icon_color_gray") {
	#identity-box.verifiedDomain[pageproxystate="valid"] #identity-icon {
		-moz-context-properties: fill !important;
		fill: #12bc00 !important;
	}
}
#identity-box:is(.notSecure, .httpsOnlyErrorPage, .mixedActiveContent, .mixedActiveBlocked)[pageproxystate] #identity-icon {
	list-style-image: url(./icons/large-connection-mixed-active-loaded.svg) !important;
}
#identity-box:is(.certErrorPage, .certUserOverridden, .mixedDisplayContent, .weakCipher, .mixedDisplayContentLoadedActiveBlocked)[pageproxystate] #identity-icon {
	list-style-image: url(./icons/large-connection-mixed-passive-loaded.svg) !important;
}
#identity-box.unknownIdentity #identity-icon {
	list-style-image: url(./icons/info.svg) !important;
}
/* Changes the search icon to Photon's */
#identity-box.localResource > #identity-icon-box > #identity-icon,
#urlbar:not(.searchButton) > .urlbar-input-container > #identity-box[pageproxystate="invalid"] #identity-icon {
	list-style-image: url(./icons/find-in-page.svg) !important
}
#identity-box.localResource[pageproxystate="valid"] > #identity-icon-box > #identity-icon:has(+ #identity-icon-label:not([value="Nightly"])), 
#identity-popup[connection="file"] .identity-popup-security-connection-icon {
	list-style-image: url(./icons/document.svg) !important
}
#identity-popup[connection="extension"] .identity-popup-security-connection-icon {
	list-style-image: url(./icons/extensions.svg) !important
}
/* Changes the tracking protection icons to Photon's */
#tracking-protection-icon-container > #tracking-protection-icon-box > #tracking-protection-icon {
	list-style-image: url(./icons/tracking-protection-no-trackers.svg) !important;
	fill: var(--toolbarbutton-icon-fill) 
}
#tracking-protection-icon-container > #tracking-protection-icon-box[hasException] > #tracking-protection-icon {
	list-style-image: url(./icons/tracking-protection-disabled.svg) !important;
	fill: var(--toolbarbutton-icon-fill) 
}
#tracking-protection-icon-container > #tracking-protection-icon-box[active] > #tracking-protection-icon {
	list-style-image: url(./icons/tracking-protection-animation.svg) !important
}
/* Changes the extension icon to Photon's */
#identity-box.extensionPage #identity-icon {
	list-style-image: url(./icons/extensions.svg) !important
}
/* Ensures that you can see the tracking protection icon in dark-mode */
@media (prefers-color-scheme: dark) {
	#tracking-protection-icon-container > #tracking-protection-icon-box[active] > #tracking-protection-icon {
		list-style-image: url(./icons/tracking-protection-animation-brighttext.svg) !important;
	}
}

/* Panel icons */
/* I was too lazy to do all of them :P */
#permissions-granted-icon {
	list-style-image: url(./icons/permissions.svg) !important;
}
.autoplay-media-icon.blocked-permission-icon {
	list-style-image: url(./icons/autoplay-media-blocked.svg) !important;
}
.autoplay-media-icon:not(.blocked-permission-icon) {
	list-style-image: url(./icons/autoplay-media.svg) !important;
}
.desktop-notification-icon.blocked-permission-icon {
	list-style-image: url(./icons/desktop-notification-blocked.svg) !important;
}
.desktop-notification-icon:not(.blocked-permission-icon) {
	list-style-image: url(./icons/desktop-notification.svg) !important;
}
.geo-icon.blocked-permission-icon {
	list-style-image: url(./icons/geo-blocked.svg) !important;
}
#geo-sharing-icon {
	background-image: url(./icons/geo.svg) !important;
}
.geo-icon:not(.blocked-permission-icon) {
	list-style-image: url(./icons/geo.svg) !important;
}
.webRTC-selectDevice-icon.blocked-permission-icon, .camera-icon.blocked-permission-icon {
	list-style-image: url(./icons/camera-blocked.svg) !important;
}
.webRTC-selectDevice-icon:not(.blocked-permission-icon), .camera-icon, #webrtc-sharing-icon[sharing="camera"] {
	list-style-image: url(./icons/camera.svg) !important;
}
.persistent-storage-icon {
	list-style-image: url(./icons/persistent-storage.svg) !important;
}
.persistent-storage-icon.blocked-permission-icon {
	list-style-image: url(./icons/persistent-storage-blocked.svg) !important;
}
#webauthn-notification-icon, .popup-notification-icon[popupid^="webauthn-prompt-"] {
	list-style-image: url(./icons/fingerprinters.svg) !important;
}
#notification-popup-box .persistent-storage-icon {
	width: 30px !important;
}
.microphone-icon, #webRTC-selectMicrophone-icon {
	list-style-image: url(./icons/microphone.svg) !important;
}
#webrtc-sharing-icon[sharing="microphone"] {
	background-image: url(./icons/microphone.svg) !important;
}
.microphone-icon.blocked-permission-icon {
	list-style-image: url(./icons/microphone-blocked.svg) !important;
}
.screen-icon, #webrtc-sharing-icon[sharing="screen"] {
	list-style-image: url(./icons/screen.svg) !important;
}
.screen-icon.blocked-permission-icon {
	list-style-image: url(./icons/screen-blocked.svg) !important;
}
.popup-icon {
	list-style-image: url(./icons/window.svg) !important;
}
.popup-icon.blocked-permission-icon {
	list-style-image: url(./icons/popup.svg) !important;
}
.install-icon {
	list-style-image: url(./icons/extensions.svg) !important;
	border-radius: 0 !important;
}
.focus-tab-by-prompt-icon {
	list-style-image: url(./icons/tab.svg) !important;
}
.question-icon {
	list-style-image: url(./icons/help.svg) !important;
	fill: currentColor;
	-moz-context-properties: fill;
}
.tab-sharing-icon-overlay {
	&[sharing="camera"] {
		list-style-image: url("./icons/camera.svg") !important;
	}
	&[sharing="microphone"] {
		list-style-image: url("./icons/microphone.svg") !important;
	}
	&[sharing="screen"] {
		list-style-image: url("./icons/screen.svg") !important;
	}
}
#display-share-icon {
	background-image: url(./icons/screen.svg) !important;
}
@-moz-document url(chrome://browser/content/webrtcIndicator.xhtml) {
	#addons-notification-icon {
		list-style-image: url(./icons/extensions.svg) !important;
	}
}
.identity-popup-security-connection {
  list-style-image: url(./icons/large-connection-mixed-active-loaded.svg) !important;
	stroke: red !important;
	fill: currentColor !important;
	fill-opacity: var(--toolbarbutton-icon-fill-opacity) !important;
	-moz-context-properties: fill, stroke !important;
}
#identity-popup:is([connection="secure"]) .identity-popup-security-connection {
  list-style-image: url(./icons/connection-secure.svg) !important;
}
#identity-popup:is([connection="chrome"]) .identity-popup-security-connection {
  list-style-image: var(--grayscale-logo) !important;
}
#identity-popup[ciphers="weak"] .identity-popup-security-connection,
#identity-popup[mixedcontent~="passive-loaded"][isbroken] .identity-popup-security-connection {
  list-style-image: url(./icons/large-connection-mixed-passive-loaded.svg) !important;
}
.permission-popup-permission-remove-button > .button-box > .button-icon {
	list-style-image: url(./icons/close-icon2.svg) !important;
}
#PopupAutoComplete > richlistbox > richlistitem > .two-line-wrapper > .ac-secondary-action {
	background-image: url(./icons/settings.svg) !important;
}
.autocomplete-richlistitem[originaltype=insecureWarning] .ac-site-icon {
	list-style-image: url(./icons/large-connection-mixed-active-loaded.svg) !important;
	-moz-context-properties: fill, stroke;
	fill: currentColor !important;
	stroke: red !important;
	margin-inline-start: 12px !important;
	margin-inline-end: 8px !important;
}
/* Context menu ">" icon */
#protections-popup-mainView .subviewbutton-nav:not(.notFound)::after,
#identity-popup-mainView .subviewbutton-nav::after,
.widget-overflow-list .subviewbutton-nav::after,
.PanelUI-subView .subviewbutton-nav::after,
.menu-right {
	content: url(./icons/back-12.svg) !important;
	scale: -1 1 !important;
}
@media (-moz-platform: linux) {
  .menu-right {
  	scale: -1 1 !important;
  }
}
.menu-right {
	padding-inline: 4px !important;
	margin-right: 0 !important;
}
/* Photonizes the icons */
/* This should be self-explanatory */
#back-button, #context-back {
	list-style-image: url(./icons/back.svg) !important;
}
#forward-button, #context-forward {
	list-style-image: url(./icons/forward.svg) !important;
}
#reload-button, #context-reload {
	list-style-image: url(./icons/reload.svg) !important;
}
#stop-button, #context-stop {
	list-style-image: url(./icons/stop.svg) !important;
}
#home-button {
	list-style-image: url(./icons/home.svg) !important;
}
/* Reload button animation */
/* from github.com/1280px/rainfox, check out the theme! (maybe not since it's dead now lol) */
/* fixed version by me */
:root:not([customizing]) #stop-reload-button[animate] 
	> #reload-button 
	> .toolbarbutton-animatable-box 
	> .toolbarbutton-animatable-image {
	background-image: url("./icons/stop-to-rel.svg") !important;
	width: 468px !important;
	height: 20px !important; 
}
:root:not([customizing]) #stop-reload-button[animate] 
	> #stop-button
	> .toolbarbutton-animatable-box 
	> .toolbarbutton-animatable-image {
	background-image: url("./icons/rel-to-stop.svg") !important;
	width: 468px !important;
	height: 20px !important; 
}
:root:not([customizing]) #stop-reload-button[animate] 
	> #reload-button:not([displaystop]) 
	> .toolbarbutton-animatable-box
	> .toolbarbutton-animatable-image,
:root:not([customizing]) #stop-reload-button[animate] 
	> #stop-button:not([disabled]) 
	> .toolbarbutton-animatable-box
	> .toolbarbutton-animatable-image {
  animation-name: userChrome-reload-to-stop !important; 
  transition: none !important; 
}
:root:not([customizing]) #reload-button:not([displaystop]) 
	> .toolbarbutton-animatable-box 
	> .toolbarbutton-animatable-image,
:root:not([customizing]) #stop-button:not([disabled]) 
	> .toolbarbutton-animatable-box 
	> .toolbarbutton-animatable-image {
	animation-timing-function: steps(25) !important;
	animation-duration: var(--photon-speed-3) !important;
}
:root:not([customizing]) #stop-reload-button:not([animate]) 
	> :is(#stop-button, #reload-button)
	> .toolbarbutton-animatable-box 
	> .toolbarbutton-animatable-image  {
	translate: -1px !important;
}
:root:not([customizing]) #stop-reload-button[animate]
	> :is(#stop-button, #reload-button)
	> .toolbarbutton-animatable-box 
	> .toolbarbutton-animatable-image  {
	translate: 1px !important;
}
@keyframes userChrome-reload-to-stop {
  from { transform: translateX(0); }
  to { transform: translateX(-450px) } 
}
/* end credits */
#star-button, #context-bookmarkpage {
	list-style-image: url(./icons/bookmark-hollow.svg) !important;
}
#star-button[starred], #context-bookmarkpage[starred] {
	list-style-image: url(./icons/bookmark.svg) !important;
}
#reader-mode-button-icon {
	list-style-image: url(./icons/readerMode.svg) !important;
}
/* review checker */
#shopping-sidebar-button > .urlbar-icon {
	list-style-image: url(./icons/shopping.svg) !important;
	#shopping-sidebar-button[shoppingsidebaropen="true"] & {
		list-style-image: url(./icons/shopping-open.svg) !important;
	}
}
img[src="chrome://browser/content/shopping/assets/shopping.svg"] {
	content: url(./icons/shopping.svg) !important;
}
.dismiss-button {
	background-image: url(./icons/close.svg) !important;
}
#downloads-indicator-anchor {
	list-style-image: url(./icons/download-icons.svg#arrow-with-bar) !important;
}
/* I find Proton's download animation to be much nicer and I can't be bothered to remake the animation so I partly photonized the download progress indicator */
#downloads-indicator-progress-outer {
	border-width: 2px !important;
	border-color: var(--toolbarbutton-icon-fill) !important;
}
#downloads-indicator-progress-inner {
	width: 12px !important;
	height: 12px !important;
}
/* transition for downloads */
#downloads-indicator-start-image {
	list-style-image: url(./icons/notification-start-animation-r1.svg) !important;
}
#downloads-indicator-finish-image {
	list-style-image: url(./icons/notification-finish-animation-r2.svg) !important;
}
#downloads-button[attention="success"] > .toolbarbutton-badge-stack > #downloads-indicator-anchor > #downloads-indicator-icon {
	fill: var(--photon-accent) !important;
}
#library-button {
	list-style-image: url(./icons/library.svg) !important;
}
#sidebar-button {
	list-style-image: url(./icons/sidebars.svg) !important;
}
#history-panelmenu {
	list-style-image: url(./icons/history.svg) !important;
}
#bookmarks-menu-button {
	list-style-image: url(./icons/bookmark-star-on-tray.svg) !important;
}
#characterencoding-button {
	list-style-image: url(./icons/characterEncoding.svg) !important;
}
.private-browsing-indicator-icon {
	list-style-image: url(./icons/private-browsing.svg) !important;
}
#reset-pbm-toolbar-button {
	list-style-image: url(./icons/flame.svg) !important;
}
/* I don't have pocket so please tell me if there's an issue */
#save-to-pocket-button {
	list-style-image: url(./icons/pocket-outline.svg) !important;
}
#save-to-pocket-button[open] {
	list-style-image: url(./icons/pocket.svg) !important;
}
#find-button {
	list-style-image: url(./icons/find-in-page.svg) !important;
}
#privatebrowsing-button {
	list-style-image: url(./icons/privateBrowsing.svg) !important;
}
#add-ons-button {
	list-style-image: url(./icons/extensions.svg) !important;
}
#sync-button {
	list-style-image: url(./icons/sync.svg) !important;
}
#new-window-button {
	list-style-image: url(./icons/new-window.svg) !important;
}
#preferences-button {
	list-style-image: url(./icons/settings.svg) !important;
}
#fullscreen-button {
	list-style-image: url(./icons/fullscreen.svg) !important;
}
#zoom-in-button image {
	list-style-image: url(./icons/zoom-in.svg) !important;
}
#widget-overflow-fixed-list #zoom-in-button image {
	padding-left: revert !important;
}
#zoom-out-button {
	list-style-image: url(./icons/zoom-out.svg) !important;
}
#print-button {
	list-style-image: url(./icons/print1.svg) !important;
}
#logins-button {
	list-style-image: url(./icons/login.svg) !important;
}
#translations-button-icon {
	list-style-image: url(./icons/translations.svg) !important;
}
#translations-button-circle-arrows {
	list-style-image: url(./icons/sync.svg) !important;
}
#copy-button {
	list-style-image: url(./icons/edit-copy.svg) !important;
}
#PlacesChevron,
#nav-bar-overflow-button {
	list-style-image: url(./icons/command-chevron.svg) !important;
}
#PlacesChevron[open],
#nav-bar-overflow-button[open] {
	list-style-image: url(./icons/command-chevron-rotate-90.svg) !important;
}
#import-button {
	list-style-image: url(./icons/import.svg) !important;
}
#unified-extensions-button {
	list-style-image: url(./icons/extensions.svg) !important;
}
.bookmark-item[container] {
	list-style-image: url(./icons/folder2.svg) !important;
}
#PanelUI-menu-button {
	list-style-image: url(./icons/menu.svg) !important;
}
#PanelUI-menu-button .toolbarbutton-badge {
	background: #74BF43 url(./icons/update-badge.svg) no-repeat center !important;
	border-radius: 50% !important;
	outline: 2px var(--toolbar-bgcolor) solid;
}
.addon-banner-item {
	&::after {
		background: url(./icons/warning-16.svg) !important;
		margin-block: auto;
	}
}
.unified-extensions-item-menu-button.subviewbutton {
	list-style-image: url(./icons/settings.svg) !important;
}
/* Floorp icons */
#sidebar-reverse-position-toolbar {
	list-style-image: url(./icons/sort.svg) !important;
}
/* Downloads panel */
.download-state .downloadButton.downloadIconShow image {
	list-style-image: url(./icons/findFile.svg) !important;
}
.download-state .downloadButton.downloadIconRetry image {
	list-style-image: url(./icons/reload.svg) !important;
}
.download-state .downloadButton.downloadIconCancel image {
	list-style-image: url(./icons/stop.svg) !important;
}
/* Tab scrollbuttons */
#tabbrowser-arrowscrollbox {
	--arrow-image: url(./icons/back-12.svg) !important;
}
#scrollbutton-down[part="scrollbutton-down"],
#scrollbutton-up[part="scrollbutton-up"] {
	list-style-image: var(--arrow-image, url("chrome://global/skin/icons/arrow-down-12.svg")) !important;
}
/* App menu icons */
/* Makes the icons match the color scheme */
#appMenu-multiView .subviewbutton::before,
#appMenu-proton-update-banner::before,
#downloadsHistory .button-icon,
.subviewbutton:not([class*="identity-color"]) > image {
	fill: currentColor !important;
	fill-opacity: var(--toolbarbutton-icon-fill-opacity) !important;
	-moz-context-properties: fill !important;
}
/* Back-button when you're in a sub-panel */
.subviewbutton-back image {	
	list-style-image: url(./icons/back-12.svg) !important;
	padding: 2px !important;
}
/* Update Available button */
:root #appMenu-proton-update-banner .toolbarbutton-icon {
	background: #74BF43 url(./icons/update-badge.svg) no-repeat center !important;
	border-radius: 50% !important;
}
#appMenu-proton-update-banner::before {
	background: no-repeat url(chrome://branding/content/icon16.png);
	width: 16px;
	height: 16px;
	display: block;
	content: "";
	margin-inline-start: 3px;
	margin-inline-end: var(--appmenu-icon-inline-end);
}
/* Addon banners */
#appMenu-proton-addon-banners .addon-banner-item image {
	display: block !important;
	width: 16px;
	margin-inline-start: 3px !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-proton-addon-banners #webext-perms-update-menu-item::after {
	background: no-repeat url(./icons/warning-16.svg) !important;
	background-size: 16px !important;
}
/* FF profile picture */
#appMenu-fxa-status2:not([fxastatus="signedin"], [fxastatus="unverified"], [fxastatus="login-failed"])::before {
	content: "";
	display: -moz-inline-box;
	width: 18px !important;
	height: 18px !important;
	background-size: 18px;
	background-image: url(./icons/avatar-empty.svg);
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	margin-inline-start: 2px !important;
}
#appMenu-fxa-status2:not([fxastatus="signedin"], [fxastatus="unverified"], [fxastatus="login-failed"])
	#appMenu-fxa-label2 {
	margin-inline-end: -4px !important;
}
#appMenu-fxa-status2:is([fxastatus="signedin"], [fxastatus="unverified"], [fxastatus="login-failed"])
	#appMenu-fxa-label2::before {
	content: "";
	display: -moz-inline-box;
	width: 18px !important;
	height: 18px !important;
	border-radius: 50%;
	background-size: 18px;
	background-image: var(--avatar-image-url);
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	margin-inline-start: 2px !important;
	outline: solid #ffffff33 1px;
}
/* First section */
#appMenu-new-tab-button2 .toolbarbutton-icon {
	list-style-image: url(./icons/new-tab.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-new-window-button2 .toolbarbutton-icon {
	list-style-image: url(./icons/new-window.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-new-private-window-button2 .toolbarbutton-icon {
	list-style-image: url(./icons/privateBrowsing.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}

/* Second section */
#appMenu-bookmarks-button .toolbarbutton-icon {
	list-style-image: url(./icons/bookmark-star-on-tray.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-history-button .toolbarbutton-icon {
	list-style-image: url(./icons/history.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-downloads-button .toolbarbutton-icon {
	list-style-image: url(./icons/download-icons.svg#arrow-with-bar) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-passwords-button .toolbarbutton-icon {
	list-style-image: url(./icons/login.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-extensions-themes-button .toolbarbutton-icon {
	list-style-image: url(./icons/extensions.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}

/* Third section */
#appMenu-print-button2 .toolbarbutton-icon {
	list-style-image: url("./icons/print1.svg");
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-save-file-button2 .toolbarbutton-icon {
	list-style-image: url(./icons/save.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-find-button2 .toolbarbutton-icon {
	list-style-image: url(./icons/find-in-page.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-translate-button .toolbarbutton-icon {
	list-style-image: url(./icons/translations.svg);
	margin-inline-end: calc(var(--appmenu-icon-inline-end) - 1px) !important;
}
/* This pushes down the find/translate button and aligns the zoom seperator */
#appMenu-find-button2 {
  margin-bottom: 8px !important;
}
@media (-moz-bool-pref: "browser.translations.enable") {
  #appMenu-translate-button {
  	margin-bottom: 8px !important;
  }
	#appMenu-find-button2 {
    margin-bottom: unset !important;
  }
}
/* Zoom controls *//*
#appMenu-zoom-controls toolbarbutton {
	display: block !important;
}*/
#appMenu-zoom-controls toolbarbutton:not(:last-child) .toolbarbutton-icon {
	border-radius: 50% !important;
}
#appMenu-zoomReset-button2 .toolbarbutton-text {
	border-radius: 1000px !important;
	border: 1px solid var(--panel-separator-color) !important;
	padding-inline: 6px !important;
	background-color: color-mix(in srgb, currentColor 9%, transparent) !important;
}
#appMenu-zoomReset-button2:hover .toolbarbutton-text {
	background-color: color-mix(in srgb, currentColor 25%, transparent) !important;
}
#appMenu-zoomReset-button2:hover:active .toolbarbutton-text {
	background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
}
#appMenu-zoom-controls toolbarbutton:not(:hover, :active, :last-child) .toolbarbutton-icon {
	background-color: color-mix(in srgb, transparent 25%, var(--button-bgcolor)) !important;
}
/* Separators */
#appMenu-zoom-controls::after {
	content: "";
	display: block;
	translate: 0 -17px;
	width: 1px;
	height: 1px;
	border-bottom: 1px solid var(--panel-separator-color);
	scale: 1000 1 !important;
}
#appMenu-zoom-controls::before {
	content: "";
	display: block;
	background-image: url(./icons/zoom.svg);
	background-repeat: no-repeat;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	width: 16px;
	height: 16px;
}
#appMenu-zoom-controls toolbarbutton::before {
	content: "";
	display: block;
	width: 10px;
	height: 24px;
	border-left: 1px solid var(--panel-separator-color);
	margin-right: -1px;
}
/* Padding fixes */
#appMenu-zoom-controls toolbarbutton image {
	padding: 2px !important;
}
#appMenu-zoom-controls toolbarbutton {
	padding: 0px 8px 0px 0px !important;
}
#appMenu-fullscreen-button2 {
	margin-right: -11px !important;
}
/* Hover color */
#appMenu-zoomReduce-button2:hover image,
#appMenu-zoomEnlarge-button2:hover image {
	background: var(--panel-item-hover-bgcolor) !important;
}
/* Icons */
#appMenu-zoomReduce-button2 image {
	list-style-image: url(./icons/zoom-out.svg) !important;
}
#appMenu-zoomEnlarge-button2 image {
	list-style-image: url(./icons/zoom-in.svg) !important;
}
#appMenu-fullscreen-button2 image {
	list-style-image: url(./icons/fullscreen.svg) !important;
}
#appMenu-fullscreen-button2[checked] image {
	list-style-image: url(./icons/fullscreen-exit.svg) !important;
}

/* Fifth section */
#appMenu-settings-button .toolbarbutton-icon {
	list-style-image: url(./icons/settings.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-more-button2 .toolbarbutton-icon {
	list-style-image: url(./icons/developer.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-report-broken-site-button .toolbarbutton-icon {
	list-style-image: url(./icons/warning-16.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#appMenu-help-button2 .toolbarbutton-icon {
	list-style-image: url(./icons/help.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	width: 16px !important;
}
/* Profiles Button (FF 127+) */ 
@media (-moz-bool-pref: "browser.profiles.enabled") {
	#appMenu-profiles-button:after {
		margin-inline-end: -3px !important;
	}
	:is(#appMenu-profiles-button, #profiles-manage-profiles-button) .toolbarbutton-icon {
		list-style-image: url(./icons/profiles.svg) !important;
		margin-inline-end: var(--appmenu-icon-inline-end) !important;
	}
	#profiles-edit-this-delete-button .toolbarbutton-icon {
		list-style-image: url(./icons/edit.svg) !important;
	}
	#profiles-delete-this-profile-button .toolbarbutton-icon {
		list-style-image: url(./icons/delete.svg) !important;
	}
	#profiles-close-profile-button .toolbarbutton-icon {
		list-style-image: url(./icons/close-icon2.svg) !important;
		margin-inline-end: var(--appmenu-icon-inline-end) !important;
		padding: 2px;
	}
	#profiles-create-profile-button .toolbarbutton-icon {
		list-style-image: url(./icons/add.svg) !important;
		margin-inline-end: var(--appmenu-icon-inline-end) !important;
	}
}
/* Exit icon */
#appMenu-quit-button2 .toolbarbutton-icon {
	list-style-image: url(./icons/quit.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
/* Restart icon (Waterfox) */
#appMenu-restart-button .toolbarbutton-icon {
	list-style-image: url(./icons/reload.svg) !important;
}
/* Restart icon (Floorp) */
#rebootappmenu .toolbarbutton-icon {
	list-style-image: url(./icons/reload.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
/* Floorp App Menu Icons */
#appMenu-ssb-button .toolbarbutton-icon {
	list-style-image: url(./icons/pwa-manage.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
#openprofiledir .toolbarbutton-icon {
	list-style-image: url(./icons/findFile.svg) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	width: 16px;
}
/* Margin fixes */
#appMenu-help-button2 + toolbarseparator {
	margin-bottom: 4px !important;
}
#appMenu-fxa-status2 + toolbarseparator {
	margin-top: 4px !important;
}
/* Favicons */
.all-tabs-item:has(.toolbarbutton-icon:is([src^="chrome://"], :not([src]))) > .all-tabs-button::before {
	width: 18px;
	height: 18px;
	background-size: 18px;
	margin-inline-end: 0px;
	-moz-context-properties: fill, stroke;
	fill: currentColor;
	margin-inline-end: calc(var(--appmenu-noicon-inline-end)  * -1) !important;
	padding-inline-end: 6px !important;
}
.all-tabs-item .all-tabs-button image:is([src^="chrome://"], :not([src])) {
	opacity: 0;
}

.tab-icon-image[src="chrome://global/skin/icons/settings.svg"],
.all-tabs-item:has(.toolbarbutton-icon[src="chrome://global/skin/icons/settings.svg"]) > .all-tabs-button::before,
.urlbarView-favicon[src="page-icon:about:preferences"] {
	content: url(./icons/settings.svg) !important;
}
.tab-icon-image[src="chrome://mozapps/skin/extensions/extension.svg"],
.all-tabs-item:has(.toolbarbutton-icon[src="chrome://mozapps/skin/extensions/extension.svg"]) > .all-tabs-button::before,
.urlbarView-favicon[src="page-icon:about:addons"] {
	content: url(./icons/extensions.svg) !important;
}
.tab-icon-image[src="chrome://browser/skin/customize.svg"],
.all-tabs-item:has(.toolbarbutton-icon[src="chrome://browser/skin/customize.svg"]) > .all-tabs-button::before {
	content: url(./icons/personalize.svg) !important;
}
.all-tabs-item:has(.toolbarbutton-icon[src="chrome://browser/skin/customize.svg"]) > .all-tabs-button::before {
	scale: 0.5;
	transform-origin: top left;
}
.tab-icon-image[src="chrome://global/skin/icons/info.svg"],
.all-tabs-item:has(.toolbarbutton-icon[src="chrome://global/skin/icons/info.svg"]) > .all-tabs-button::before {
	content: url(./icons/info.svg) !important;
}
.tab-icon-image[src="chrome://global/skin/icons/warning.svg"],
.all-tabs-item:has(.toolbarbutton-icon[src="chrome://global/skin/icons/warning.svg"]) > .all-tabs-button::before {
	content: url(./icons/warning-16.svg) !important;
}
.all-tabs-item:has(.toolbarbutton-icon[src="chrome://branding/content/icon32.png"]) > .all-tabs-button::before {
	content: url(chrome://branding/content/icon16.png) !important;
}
.all-tabs-item:has(.all-tabs-button image:not([src])) > .all-tabs-button::before, .tab-icon-image:not([src]), .tab-icon-image:-moz-broken {
	content: url(./icons/globe1.svg) !important;
}
.all-tabs-item:has(.all-tabs-container-indicator image:not([src])) > .all-tabs-button::before {
	background: none !important;
	border-inline-start: 8px solid var(--identity-icon-color) !important;
	padding-inline-start: 6px;
	margin-top: 1px;
}
#TabsToolbar .tabbrowser-tab:not([image], [pinned]) .tab-icon-stack:not([busy]) .tab-icon-image {
	visibility: collapse !important;
}
/* URLBar icons */
.searchbar-search-icon {
	list-style-image: url(./icons/find-in-page.svg) !important;
	-moz-context-properties: fill !important;
	fill: var(--urlbar-box-text-color) !important;
}
#urlbar-go-button, :root .search-go-button, .urlbar-go-button {
	list-style-image: url(./icons/forward.svg) !important;
	min-width: 28px !important;
}
#urlbar-anon-search-settings image, #searchbar-anon-search-settings image {
	list-style-image: url(./icons/settings.svg) !important;
}
#urlbar-engine-one-off-item-tabs image {
	list-style-image: url(./icons/tab.svg) !important;
}
#urlbar-engine-one-off-item-history image, .search-panel-tree > .autocomplete-richlistitem[originaltype="fromhistory"] > .ac-type-icon {
	list-style-image: url(./icons/history.svg) !important;
}
#password-notification-icon {
	list-style-image: url(./icons/login.svg) !important;
}
.urlbarView-favicon[src="chrome://browser/skin/history.svg"] {
	content: url(./icons/history.svg) !important;
}
.urlbarView-favicon[src="chrome://global/skin/icons/search-glass.svg"] {
	content: url(./icons/find-in-page.svg) !important;
}
.urlbarView-favicon[src="chrome://browser/skin/quickactions.svg"] {
	content: url(./icons/quick-actions.svg) !important;
}
.urlbarView-favicon[src="chrome://browser/skin/tab.svg"] {
	content: url(./icons/tab.svg) !important;
}
.urlbarView-favicon[src="chrome://browser/skin/bookmark.svg"] {
	content: url(./icons/bookmark.svg) !important;
}
.urlbarView-favicon[src="chrome://global/skin/icons/clipboard.svg"] {
	content: url(./icons/edit-paste.svg) !important;
}
.urlbarView-favicon[src="chrome://global/skin/icons/trending.svg"] {
	content: url(./icons/trending.svg) !important;
}
#translations-button-locale {
	margin: 0px !important;
}
#picture-in-picture-button-icon {
	list-style-image: url(./icons/pictureinpicture.svg) !important;
}
#urlbar-engine-one-off-item-actions {
	list-style-image: url(./icons/quick-actions.svg) !important;
}
#urlbar-engine-one-off-item-bookmarks {
	list-style-image: url(./icons/bookmark.svg) !important;
}
#urlbar-search-mode-indicator-close {
	background-image: url(./icons/close-icon2.svg) !important;
	-moz-context-properties: fill !important;
	fill: currentColor !important;
}
.urlbarView-favicon-img[src="chrome://mozapps/skin/extensions/category-extensions.svg"] {
	content: url(./icons/extensions.svg) !important;
}
.urlbarView-favicon-img[src="chrome://global/skin/icons/settings.svg"] {
	content: url(./icons/settings.svg) !important;
}
.urlbarView-favicon-img[src="chrome://global/skin/icons/print.svg"] {
	content: url(./icons/print1.svg) !important;
}
.urlbarView-favicon-img[src="chrome://browser/skin/downloads/downloads.svg"] {
	content: url(./icons/download-icons.svg#arrow-with-bar) !important;
}
.urlbarView-favicon-img[src="chrome://devtools/skin/images/open-inspector.svg"] {
	content: url(./icons/developer.svg) !important;
}
.urlbarView-row[pinned] .urlbarView-type-icon {
	background: url(./icons/pin-12.svg) !important;
}
.urlbarView-row[type="switchtab"] .urlbarView-type-icon {
	background: url(./icons/tab-12.svg) !important;
	fill: var(--photon-accent);
}
.urlbarView-row[type="bookmark"] .urlbarView-type-icon {
	background: url(./icons/bookmark-12.svg) !important;
}
.urlbarView-button-menu {
	background-image: url("./icons/more.svg") !important;
}
/* Other more minor icons (appmenu) */
#PanelUI-helpItems .toolbarbutton-icon,
#appmenu-moreTools .toolbarbutton-icon:not(.subviewbutton-back .toolbarbutton-icon, #appmenu-moreTools-button .toolbarbutton-icon),
#PanelUI-history .toolbarbutton-icon:not(.subviewbutton-back .toolbarbutton-icon, #appMenu_historyMenu .toolbarbutton-icon),
#PanelUI-bookmarks .toolbarbutton-icon:not(.subviewbutton-back .toolbarbutton-icon, #panelMenu_bookmarksMenu .toolbarbutton-icon),
#PanelUI-fxa .toolbarbutton-icon:not(.subviewbutton-back .toolbarbutton-icon, #PanelUI-fxa-remotetabs-deck .toolbarbutton-icon),
#appMenu-library-recentlyClosedWindows .panel-subview-footer-button .toolbarbutton-icon, #appMenu-library-recentlyClosedTabs .panel-subview-footer-button .toolbarbutton-icon,
#PanelUI-sendTabToDevice .panel-subview-body toolbarseparator.sync-menuitem ~ .subviewbutton .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-noicon-inline-end) !important;
}
:is(#appMenu_historyMenu, #panelMenu_bookmarksMenu) .toolbarbutton-icon {
	margin-inline-start: -11px !important;
}
/* help */
#appMenu_menu_openHelp .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/help.svg) !important;
}
#appMenu_helpSwitchDevice .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/import.svg) !important;
}
#appMenu_aboutName .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/info.svg) !important;
}
#appMenu_menu_HelpPopup_reportPhishingtoolmenu .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/socialblock.svg) !important;
	width: 16px !important;
}
#appMenu_help_reportSiteIssue .toolbarbutton-icon, #appMenu_help_reportBrokenSite .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/warning-16.svg) !important;
}
#appMenu_troubleShooting .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/developer.svg) !important;
}
#appMenu_helpSafeMode .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/cryptominers.svg) !important;
}
#appMenu_feedbackPage .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/tip.svg) !important;
}
/* more tools */
#appmenu-moreTools-button .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/personalize.svg) !important;
	width: 16px !important;
}
#appmenu-moreTools-button {
	margin-bottom: 1px !important;
	margin-top: -3px !important;
}
/* history */
/* specificticiyicity is very important in css - :nerd_face: */
:root #PanelUI-history #appMenuRecentlyClosedTabs .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/tab.svg) !important;
}
#appMenuRecentlyClosedTabs, #panelMenuBookmarkThisPage {
	margin-top: -3px !important;
}
:root #PanelUI-history #appMenuRecentlyClosedWindows .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/window.svg) !important;
}
:root #PanelUI-history #appMenuSearchHistory .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/find-in-page.svg) !important;
}
:root #PanelUI-history #appMenu-restoreSession .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/restore-session.svg) !important;
}
:root #PanelUI-history #appMenuClearRecentHistory .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/forget.svg) !important;
}
:root #PanelUI-history #PanelUI-historyMore .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/library.svg) !important;
}
:root :is(#appMenu-library-recentlyClosedTabs, #appMenu-library-recentlyClosedWindows) .restoreallitem .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/restore-session.svg) !important;
}
/* bookmarks */
:root #PanelUI-bookmarks #panelMenuBookmarkThisPage .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/bookmark-hollow.svg) !important;
}
:root #PanelUI-bookmarks #panelMenu_searchBookmarks .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/find-in-page.svg) !important;
}
:root #PanelUI-bookmarks #panelMenu_viewBookmarksToolbar .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/bookmark-star-on-tray.svg) !important;
}
:root #PanelUI-bookmarks #panelMenu_showAllBookmarks .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/library.svg) !important;
}
/* fxa menu */
:root #appMenu-popup #PanelUI-fxa #fxa-manage-account-button {
	margin-top: -3px !important;
}
:root #PanelUI-fxa #fxa-manage-account-button::before {	
	content: "";
	min-width: 30px !important;
	width: 30px !important;
	height: 30px !important;
	border-radius: 50%;
	background-size: 30px;
	background-image: var(--avatar-image-url);
	margin-inline-start: 11px !important;
	outline: solid #ffffff33 1px;
}/*
:root #PanelUI-fxa #fxa-manage-account-button::after {
	content: "";
	min-width: 200%;
	height: 1px;
	background: var(--panel-separator-color);
	position: relative;
	left: -64%;
}*/
:root #PanelUI-fxa #fxa-manage-account-button {
	padding: 0 !important;
	background-color: transparent !important;
	border-bottom: 1px solid var(--panel-separator-color);
	padding-bottom: 4px !important;
	margin-bottom: 3px !important;
}
:root #PanelUI-fxa #fxa-manage-account-button vbox {
	padding-inline: var(--arrowpanel-menuitem-padding) !important;
	padding-inline-start: 51px !important;
	translate: -41px;
	&:hover {
		background-color: var(--panel-item-hover-bgcolor);
	}
	&:hover:active {
		background-color: var(--panel-item-active-bgcolor);
	}
	min-width: calc(100% + 30px) !important;
}
:root #PanelUI-fxa #PanelUI-fxa-menu-syncnow-button {
	padding-inline-start: calc(var(--appmenu-noicon-inline-end) + 11px) !important;
}
:root #PanelUI-fxa #PanelUI-fxa-menu-syncnow-button::before {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	display: block;
	content: url(./icons/sync.svg);
	width: 16px;
	height: 16px;
	margin-inline-start: calc(var(--appmenu-noicon-inline-end) * -1) !important;
	-moz-context-properties: fill !important;
	fill: currentColor !important;
}
:root #PanelUI-fxa #PanelUI-fxa-menu-syncnow-button:has(.syncNowBtn[syncstatus="active"])::before {
	display: none;
}
:root #PanelUI-fxa .syncNowBtn[syncstatus="active"] {
	order: 0 !important;
	margin-inline-start: calc(var(--appmenu-noicon-inline-end) * -1) !important;
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
}
:root #PanelUI-fxa #PanelUI-fxa-menu-syncnow-button image {
	list-style-image: url(./icons/sync.svg) !important;
	width: 16px !important;
}
:root #PanelUI-fxa #PanelUI-fxa-menu-connect-device-button .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/add-device.svg) !important;
	width: 16px !important;
}
:root #PanelUI-fxa #PanelUI-fxa-menu-sendtab-button .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/send-to-device.svg) !important;
}
:root #PanelUI-fxa :is(#PanelUI-fxa-menu-sync-prefs-button, #PanelUI-fxa-menu-setup-sync-button) .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/settings.svg) !important;
}
:root #PanelUI-fxa #PanelUI-fxa-menu-account-signout-button .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/sign-out.svg) !important;
	width: 16px !important;
}
:root #PanelUI-sendTabToDevice .sendToDevice-device {
	padding-top: 4px !important;
}
:root #PanelUI-sendTabToDevice toolbarseparator ~ .sendToDevice-device .toolbarbutton-text {
	margin-inline-start: calc(var(--appmenu-noicon-inline-end) * -1 + var(--appmenu-icon-inline-end)) !important;
}
:root #PanelUI-sendTabToDevice toolbarseparator ~ .sendToDevice-device .toolbarbutton-icon {
	list-style-image: url(./icons/add-device.svg) !important;
	width: 16px !important;
}
:root #PanelUI-sendTabToDevice toolbarseparator + .sendToDevice-device .toolbarbutton-icon {
	list-style-image: url(./icons/send-to-device.svg) !important;
}
/* more tools */
:root #appmenu-developer-tools-view > .subviewbutton[checked] .toolbarbutton-icon {
	list-style-image: url(./icons/check.svg) !important;
	translate: var(--appmenu-noicon-inline-end) !important;
	margin-inline-start: calc(var(--appmenu-noicon-inline-end) * -1) !important;
}
/* */
#sidebarMenu-popup menuitem .menu-text {
	background-repeat: no-repeat !important;
	-moz-context-properties: fill, stroke;
	fill: currentColor;
	padding-inline-start: 21px !important;
}
#sidebar-switcher-bookmarks:is(menuitem) .menu-text {
	background-image: url(./icons/bookmark.svg);
}
#sidebar-switcher-history:is(menuitem) .menu-text {
	background-image: url(./icons/history.svg);
}
#sidebar-switcher-tabs:is(menuitem) .menu-text {
	background-image: url(./icons/tab.svg);
}
#sidebar-switcher-genai-chat:is(menuitem) .menu-text {
	background-image: url(./icons/glyph-highlights-16.svg);
}
#sidebar-reverse-position:is(menuitem) .menu-text {
	background-image: url(./icons/import-export-rotate90.svg);
}
menuitem[data-l10n-id="sidebar-menu-close"] .menu-text {
	background-image: url(./icons/close-icon2.svg);
	background-position: 2px 2px
}
/* side panel */
#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header 
  > #sidebar-switcher-target > #sidebar-icon {
	list-style-image: url(./icons/bookmark.svg) !important;
}
#sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar-header 
  > #sidebar-switcher-target > #sidebar-icon {
	list-style-image: url(./icons/history.svg) !important;
}
#sidebar-box[sidebarcommand="viewTabsSidebar"] > #sidebar-header 
  > #sidebar-switcher-target > #sidebar-icon {
	list-style-image: url(./icons/tab.svg) !important;
}
#sidebar-box[sidebarcommand="viewGenaiChatSidebar"] > #sidebar-header 
  > #sidebar-switcher-target > #sidebar-icon {
	list-style-image: url(./icons/glyph-highlights-16.svg) !important;
	width: 16px !important;
	-moz-context-properties: fill !important;
	fill: currentColor !important;
}
.close-icon image {
	list-style-image: url(./icons/add.svg) !important;
	rotate: 45deg; /* guh */
}
/* Libraries */
#appMenu-library-bookmarks-button .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/bookmark.svg) !important;
}
#appMenu-library-history-button .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/history.svg) !important;
}
#appMenu-library-downloads-button .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/download-icons.svg#arrow-with-bar) !important;
}
/* Findbar */
.findbar-find-next, .findbar-find-previous {
	border: 1px solid var(--input-border-color, var(--toolbar-field-border-color)) !important;
	padding-block: 0 !important;
	padding-inline: 5px !important;
	border-inline-start: 0px !important;
}
:is(.findbar-find-next, .findbar-find-previous):not(:hover),
:is(.findbar-find-next, .findbar-find-previous)[disabled] {
	background: color-mix(in srgb, currentColor 14%, transparent) !important;
}
.findbar-find-next {
	list-style-image: url(./icons/find-next-arrow.svg) !important;
	border-radius: 0 var(--photon-border-radius) var(--photon-border-radius) 0 !important;
}
.findbar-find-previous {
	list-style-image: url(./icons/find-previous-arrow.svg) !important;
	border-radius: 0 !important;
	margin-inline-start: 0 !important;
}
:root .findbar-textbox {
	border-radius: var(--photon-border-radius) 0 0 var(--photon-border-radius) !important;
}
/* All tabs list */
.all-tabs-close-button {
	list-style-image: url(./icons/close-icon2.svg) !important;
}
.all-tabs-mute-button:not([muted]) {
	list-style-image: url(./icons/tab-audio-playing.svg) !important;
}
.all-tabs-mute-button[muted] {
	list-style-image: url(./icons/tab-audio-muted.svg) !important;
}
#allTabsMenu-searchTabs .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/find-in-page.svg) !important;
}
#allTabsMenu-closeDuplicateTabs .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/close.svg) !important;
}
#allTabsMenu-containerTabsButton .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/add.svg) !important;
}
:root #allTabsMenu-hiddenTabsButton {
	padding-inline-start: 11px !important;
}
#allTabsMenu-hiddenTabsButton .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/glyph-topsites.svg) !important;
}
#allTabsMenu-containerTabsView vbox .subviewbutton:last-child .toolbarbutton-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	list-style-image: url(./icons/settings.svg) !important;
}
#allTabsMenu-containerTabsView vbox .subviewbutton:last-child {
	margin-bottom: 0px !important;
}
/* Inputs */
.checkbox-check:not([native]) {
	width: 20px !important;
	height: 20px !important;
	appearance: none !important;
	background-color: var(--button-bgcolor) !important;
	border: 1px solid color-mix(in srgb, currentColor 25%, transparent) !important;
	&:hover {
		background-color: var(--button-hover-bgcolor) !important;
	}
	&:hover:active {
		background-color: var(--button-active-bgcolor) !important;
	}
}
.checkbox-check[checked] {
	background-color: var(--photon-accent-dark) !important;
	background-image: url(./icons/check.svg) !important;
	-moz-context-properties: fill !important;
	fill: #fff !important;
	border: 1px solid #0000 !important;
	background-position: 1px 1px;
	&:hover {
		background-color: color-mix(in srgb, var(--photon-accent-dark) 85%, currentColor) !important;
	}
	&:hover:active {
		background-color: color-mix(in srgb, var(--photon-accent-dark) 75%, currentColor) !important;
	}
}
#editBookmarkPanel .expander-down {
	list-style-image: url(./icons/arrow-dropdown-16.svg) !important;
}
#editBookmarkPanel .expander-up {
	list-style-image: url(./icons/arrow-dropdown-16.svg) !important;
	transform: scaleY(-1) /* There's no laziness here, this is how they do it in Photon too! ;) */
}
.ac-dropmarker, .button-menu-dropmarker {
	content: url(./icons/arrow-dropdown-16.svg) !important;
}
/* firefox view */
#firefox-view-button {
	list-style-image: url(./icons/firefox-view.svg) !important;
}
/* enhanced tp */
#protections-popup-settings-button .protections-popup-footer-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	margin-inline-start: 9px !important;
	list-style-image: url(./icons/settings.svg) !important;
}
#protections-popup-show-report-button .protections-popup-footer-icon {
	margin-inline-end: var(--appmenu-icon-inline-end) !important;
	margin-inline-start: 9px !important;
	list-style-image: url(./icons/dashboard.svg) !important;
	width: 16px !important;
}
#protections-popup-cookie-banner-switch {
	padding-inline-start: 42px !important;
	padding-inline-end: calc(var(--appmenu-icon-inline-end) + 9px) !important;
	-moz-context-properties: fill;
	fill: currentColor;
	background-image: url(./icons/3rdpartycookies.svg);
	background-repeat: no-repeat;
	background-position: 16px;
	margin-bottom: 0px !important;
}
#protections-popup-cookie-banner-section[data-state="site-disabled"] #protections-popup-cookie-banner-switch {
	background-image: url(./icons/3rdpartycookies-disabled.svg);
}
#protections-popup-report-broken-site-button .toolbarbutton-icon {
	margin-inline-end: 8px !important;
	margin-inline-start: 5px !important;
	list-style-image: url(./icons/warning-16.svg) !important;
}
#protections-popup-report-broken-site-button,
#protections-popup-cookie-banner-section #protections-popup-cookie-banner-switch {
	padding-inline-end: calc(var(--appmenu-icon-inline-end) + 8px) !important;
}
.thirdpartycookies-icon {
	list-style-image: url(./icons/3rdpartycookies.svg) !important;
}
.trackers-icon {
	list-style-image: url(./icons/tracker-image.svg) !important;
}
.socialblock-icon {
	list-style-image: url(./icons/socialblock.svg) !important;
}
.fingerprinters-icon {
	list-style-image: url(./icons/fingerprinters.svg) !important;
}
.cryptominers-icon {
	list-style-image: url(./icons/cryptominers.svg) !important;
}
/* notifications */
.container .close {
	background: url(./icons/close.svg) no-repeat !important;
	background-position: center !important;
	-moz-context-properties: fill !important;
	fill: currentColor !important;
}
.container .icon::after {
	background-image: url(./icons/info-color.svg) !important;
}
.icon[src="chrome://global/skin/icons/warning.svg"] {
	content: url(./icons/warning-16.svg) !important;
}
.icon[src="chrome://global/skin/icons/info-filled.svg"] {
	content: url(./icons/info-color.svg) !important;
}

/* Library/Sidebar icons */
/* https://gist.github.com/MrOtherGuy/8816d7b388200119279da6f735539acb */

/* Folder Icon */
treechildren::-moz-tree-image(title, container){
	list-style-image: url(./icons/folder2.svg) !important;
}
/* Bookmarks toolbar folder */
treechildren::-moz-tree-image(container, queryFolder_toolbar_____) {
	list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.svg") !important;
}
/* Bookmarks menu folder */
treechildren::-moz-tree-image(container, queryFolder_menu________) {
	list-style-image: url("chrome://browser/skin/places/bookmarksMenu.svg") !important;
}
/* Tag items */
treechildren::-moz-tree-image(title, query, tagContainer),
treechildren::-moz-tree-image(query, OrganizerQuery_tags_______v) {
	list-style-image: url("chrome://browser/skin/places/tag.svg") !important;
}
/* History folders */
treechildren::-moz-tree-image(title, query, dayContainer),
treechildren::-moz-tree-image(query, OrganizerQuery_history____v) {
	list-style-image: url(./icons/history-sidebar.svg) !important;
}
/* Downloads folder */
treechildren::-moz-tree-image(query, OrganizerQuery_downloads__v) {
	list-style-image: url(./icons/download-icons.svg#arrow-with-bar) !important;
}
/* And finally all bookmarks folder */
treechildren::-moz-tree-image(query, OrganizerQuery_allbms_____v) {
	list-style-image: url(./icons/bookmark.svg) !important;
}

/* Back-Forward Menu */
.unified-nav-back[_moz-menuactive]:-moz-locale-dir(ltr),
.unified-nav-forward[_moz-menuactive]:-moz-locale-dir(rtl) {
	list-style-image: url(./icons/back.svg) !important;
}

.unified-nav-forward[_moz-menuactive]:-moz-locale-dir(ltr),
.unified-nav-back[_moz-menuactive]:-moz-locale-dir(rtl) {
	list-style-image: url(./icons/forward.svg) !important;
}
/* Bookmark */
.folder-icon {
	list-style-image: url("./icons/folder2.svg") !important;
}
#editBMPanel_folderMenuList[selectedGuid="toolbar_____"], #editBMPanel_toolbarFolderItem {
	list-style-image: url("./icons/bookmarksToolbar.svg") !important;
}
#editBMPanel_folderMenuList[selectedGuid="menu________"], #editBMPanel_bmRootItem {
	list-style-image: url("./icons/bookmarksMenu.svg") !important;
}
/* Screenshots */
img {
	#cancel > & {
		content: url("./icons/close-icon2.svg") !important;
	}
	#retry > & {
		content: url("./icons/reload.svg") !important;
	}
	#copy > & {
		content: url("./icons/edit-copy.svg") !important;
	}
	#download > & {
		content: url("./icons/download-icons.svg#arrow-with-bar") !important;
	}
}
/* Report broken site */
.report-broken-site-view > .panel-subview-body > label.invalid-message {
	background-image: url("./icons/warning-16.svg") !important;
}
/* Arifishal Intelighense thing */
.content-shortcuts {
	background-image: url("./icons/glyph-highlights-16.svg") !important;
}
/* New sidebar */
button > img, span > img {
	&[src="chrome://mozapps/skin/extensions/category-discover.svg"] {
		content: url("./icons/glyph-highlights-16.svg") !important;
	}
	&[src="chrome://browser/content/firefoxview/view-syncedtabs.svg"] {
		content: url("./icons/sync.svg") !important;
	}
	&[src="chrome://browser/content/firefoxview/view-history.svg"] {
		content: url("./icons/history.svg") !important;
	}
	&[src="chrome://browser/skin/preferences/category-general.svg"] {
		content: url("./icons/settings.svg") !important;
	}
	&[src="chrome://browser/skin/bookmark-hollow.svg"] {
		content: url("./icons/bookmark-hollow.svg") !important;
	}
	&[src="chrome://browser/skin/sidebar-expanded.svg"] {
		content: url("./icons/sidebar-expanded.svg") !important;
	}
	&[src="chrome://browser/skin/sidebar-collapsed.svg"] {
		content: url("./icons/sidebar-collapsed.svg") !important;
	}
	&[src="chrome://browser/skin/sidebar-right.svg"] {
		content: url("./icons/sidebar-right.svg") !important;
	}
	&[src="chrome://browser/skin/sidebar-hidden.svg"] {
		content: url("./icons/sidebar-hidden.svg") !important;
	}
	&[src="chrome://browser/skin/sidebar-horizontal-tabs.svg"] {
		content: url("./icons/sidebar-horizontal-tabs.svg") !important;
	}
}
img[src="chrome://browser/skin/preferences/category-general.svg"] {
	content: url("./icons/settings.svg") !important;
}
#heading-wrapper .chevron-icon {
	background-image: url("./icons/arrow-dropdown-16.svg") !important;
}
/* shadow root */
.header-close-button {
	--button-icon: url(./icons/close.svg) !important;
}
.menu-button {
	--button-icon: url(./icons/more.svg) !important;
}
.delete-button {
	--button-icon: url(./icons/delete.svg) !important;
}
button[part="button"] {
	background-image: var(--button-icon, inherit) !important;
}