/* Misc. stuff */
:root {
	--misc-css: 1px;
}
/* Libraries */
@-moz-document url(chrome://browser/content/places/places.xhtml) {
	#forward-button, #searchFilter, #placesMenu > menu {
		border-radius: var(--photon-border-radius) !important;
	}
	#back-button:hover {
		background-color: transparent !important;
	}
	:is(#back-button, #forward-button) > image {
		padding: 5px !important;
	}
	#organizeButton {
		list-style-image: url("./icons/settings.svg") !important;
	}
	#viewMenu {
		list-style-image: url("./icons/sort.svg") !important;
	}
	#maintenanceButton {
		list-style-image: url("./icons/import-export.svg") !important;
	}
  
  /* Bigger Buttons */
  .download-state .downloadButton:not(:hover, :active) {
  	background: transparent !important;
  }
  .downloadButton {
  	height: 5.5em !important;
  }
  /* Seperator */
  .download-state .downloadButton::before {
  	width: 1px !important;
  	height: 46px !important;
  	content: "";
  	display: block;
  	background: color-mix(in srgb, currentColor 10%, transparent);
  	margin-top: calc(((5.5em - 46px)/2) - 10px);
  	position: relative;
  	translate: -8px
  }
  .download-state .downloadButton:hover::before {
  	background: color-mix(in srgb, currentColor 10%, transparent);
  }
	
	@media (prefers-color-scheme: dark) {
		* {
			--organizer-pane-background: #323234 !important;
			--organizer-toolbar-background: #323234 !important;
			--organizer-pane-field-border-color: transparent !important;
			--dark-menu-border-color: #5b5b5d !important;
			--organizer-border-color: #3e3e40 !important;
			--organizer-content-background: #222225 !important;
			--organizer-toolbar-field-background: #222225 !important;
			--organizer-hover-background: rgb(83,83,85) !important;
			--organizer-selected-background: rgb(92,92,95) !important;
		}
		treecol[data-l10n-id*="places-view-sort-col"] {
			background-color: rgb(50,50,52) !important;
		}
		window {
			background: #333 !important;
		}
	}
}

/* Page Info */
@-moz-document url(chrome://browser/content/pageinfo/pageInfo.xhtml) {
	#topBar {
		background: var(--toolbar-field-background-color) !important;
		border-color: transparent !important;
	}
}

/* Autoscroller */
.autoscroller {
	padding: 15px !important;
}
.autoscroller::after {
	display: block;
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: no-repeat center var(--autoscroll-background-image) rgba(249,249,250,.8);
	border: solid rgba(0,0,0,.4) 1.5px;
	translate: -12px -22px;
}
/* Aero glass/Mica *
@supports -moz-bool-pref("photon.win-glass") {
	#navigator-toolbox-background, #navigator-toolbox, html {
    background: transparent !important;
		appearance: -moz-win-glass !important;
	}
	[class*="titlebar"][class*="button"] {
		list-style-image: none !important;
	}
	[class*="titlebar"][class*="button"][class*="close"] {
		opacity: 0.5 !important;
	}
}*/
/* Old style context menus */
@supports -moz-bool-pref("uc.contextmenu.win-10") {
	@supports -moz-bool-pref("uc.contextmenu.dark") {
		.menupopup-arrowscrollbox tooltip {
			--arrowpanel-background: #2b2b2b !important;
			border-color: #a0a0a0 !important;
			color: white !important;
		}
		menupopup menuseparator::before {
			border-color: #808080 !important;
		}
		menupopup :is(menu, menuitem), tooltip {
			color: white !important;
		}
	}
	@supports -moz-bool-pref("uc.contextmenu.light") {
		.menupopup-arrowscrollbox tooltip {
			--arrowpanel-background: #fff !important;
			border-color: #a0a0a0 !important;
			color: black !important;
    }
		menupopup menuseparator::before {
			border-color: #d7d7d7 !important;
		}
		menupopup :is(menu, menuitem), tooltip {
			color: black !important;
		}
	}
	.menupopup-arrowscrollbox {
		padding-inline: 2px !important;
  }
	menupopup menuseparator::before {
		margin-inline: 8px !important;
	}
	menupopup .menu-right {
		content: url("chrome://global/skin/icons/arrow-right.svg") !important;
		scale: 1 1 !important;
	}
	menuitem[checked="true"] > .menu-iconic-left {
    list-style-image: none !important;
		background: currentColor;
		border-radius: 50% !important;
		width: 6px !important;
		height: 6px;
		margin-inline-start: 5px !important;
		margin-inline-end: 12px !important;
	}
	#context-navigation {
		margin-inline: 2px !important;
	}
}

/* kinda looks like the gnome context menu too */
@supports -moz-bool-pref("uc.contextmenu.win-11") {
	@supports -moz-bool-pref("uc.contextmenu.dark") {
		.menupopup-arrowscrollbox, tooltip {
			--arrowpanel-background: #2c2c2c !important;
			border-color: #3e3e3e !important;
			color: white !important;
	}
		menupopup menuseparator::before {
			border-color: #3e3e3e !important;
		}
		menupopup :is(menu, menuitem), tooltip {
			color: white !important;
		}
	}
	@supports -moz-bool-pref("uc.contextmenu.light") {
		.menupopup-arrowscrollbox, tooltip {
			--arrowpanel-background: #fff !important;
			border-color: #a0a0a0 !important;
			color: black !important;
    }
		menupopup menuseparator::before {
			border-color: #e7e7e7 !important;
		}
		menupopup :is(menu, menuitem), tooltip {
			color: black !important;
		}
	}
	.menupopup-arrowscrollbox {
		border-radius: 6px !important;
		box-shadow: 0 2px 4px #1118 !important;
	}
	menupopup menuseparator::before {
		margin-inline: 8px !important;
	}
	menupopup .menu-right {
		content: url("chrome://global/skin/icons/arrow-right.svg") !important;
		scale: 1 1 !important;
	}
	menuitem[checked="true"] > .menu-iconic-left {
    list-style-image: none !important;
		background: currentColor;
		border-radius: 50% !important;
		width: 6px !important;
		height: 6px;
		margin-inline-start: 5px !important;
		margin-inline-end: 12px !important;
	}
	menupopup :is(menu, menuitem) {
		--panel-border-radius: 4px !important;
		margin-inline: 4px !important;
	}
	#context-navigation menuitem * {
		border-radius: 2px !important;
	}
}