/* Tabs and Urlbar */
:root {
	--tabs-and-urlbar-css: 1px;
}
/* Changes the tab height */
:root:not([uidensity="compact"], [uidensity="touch"]) {
	--tab-min-height: 33px !important;
}
:root[sizemode="normal"]:not([uidensity="compact"], [uidensity="touch"]) {
	--tab-min-height: 34px !important;
}
:root[uidensity="compact"] {
	--tab-min-height: 31px !important;
}
@media (-moz-platform: linux) {
	.tabbrowser-tab {
		height: calc(var(--tab-min-height) + 1px) !important;
	}
}
/* Makes the tab photon-like + adds a transition */
/* Delete the transition things if unwanted */
.tab-close-button {
	border-radius: var(--photon-border-radius) !important;
	transition: background 0.2s cubic-bezier(.07,.95,0,1) !important;
}
.tabbrowser-tab:not(:hover) .tab-close-button {
	padding-inline: 4px !important;
	padding-block: 7px !important;
	margin-right: -3px !important;
}
.tabbrowser-tab:hover .tab-close-button {
	padding-inline: 5px !important;
	padding-block: 5px !important;
	width: 20px !important;
	height: 20px !important;
}
.tabbrowser-tab > .tab-stack > .tab-background {
	border-radius: 0 !important;
	transition: background 0.2s !important;
}
.tab-background {
	margin: 0 !important;
	box-shadow: none !important
}
.tabbrowser-tab, #TabsToolbar #firefox-view-button {
	z-index: 1 !important;
}
.tabbrowser-tab[selected] {
	z-index: 2 !important;
}
/* Pushes the sound icon off to the side and makes the website favicon always show to make it
so that the sound icon doesn't look out of place
credits to phroton for some of this stuff */
.tabbrowser-tab:not([pinned]) .tab-icon-overlay {
	border-radius: 1px !important;
	transition: background 0.2s cubic-bezier(.07,.95,0,1) !important;
	opacity: 1 !important;
	padding: 0px !important;
}
.tabbrowser-tab:not([pinned]) .tab-icon-overlay {
	position: relative !important;
	left: 100% !important;
}
.tab-icon-image {
	opacity: 1 !important;
}
.tab-icon-image:not([busy]) {
	display: block !important;
}
.tabbrowser-tab:not([pinned]) .tab-icon-stack {
	position: absolute !important;
	width: calc(100% - 6px - 48px) !important;
}
tabs[closebuttons^="activetab"] tab:not([visuallyselected]) .tab-icon-stack {
  width: calc(100% - 32px) !important;
}
.tabbrowser-tab:not([pinned]) .tab-label-container {
	margin-inline-start: 21px !important;
}
.tabbrowser-tab:is([muted], [soundplaying], [activemedia-blocked], [crashed="true"]) .tab-label-container {
  margin-right: 20px;
}
/* Fixes for pinned tabs */
.tabbrowser-tab[pinned] .tab-icon-overlay {
	transition: background 0.2s cubic-bezier(.07,.95,0,1) !important;
	padding: 1px !important;
	background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent),
		var(--lwt-selected-tab-background-color, transparent)),
		linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
		var(--lwt-header-image, none) !important;
}
:root[sizemode=normal] .tabbrowser-tab[pinned] .tab-background {
	height: 33px !important;
}
#navigator-toolbox:-moz-lwtheme .tabbrowser-tab:not([selected])[pinned] .tab-icon-overlay {
	background: var(--lwt-accent-color) !important;
}
#tabbrowser-tabs[haspinnedtabs]:not([overflow]) .tabbrowser-tab {
	margin-inline-start: 0 !important;
}
/* This will hide the label for pinned tabs cuz i'm lazy and dont wanna properly push the label off of the tab */
.tabbrowser-tab[pinned] .tab-label-container {
	display: none !important;
}
/* Photon sound icons */
.tab-icon-overlay[soundplaying] {
	list-style-image: url(./icons/tab-audio-playing.svg) !important;
}
.tab-icon-overlay[muted] {
	list-style-image: url(./icons/tab-audio-muted.svg) !important;
}
.tab-icon-overlay[activemedia-blocked] {
	list-style-image: url(./icons/tab-audio-blocked.svg) !important;
}
.tab-icon-overlay[pictureinpicture] {
	list-style-image: url(./icons/pictureinpicture.svg) !important;
}
.tabbrowser-tab:is([pinned][first-visible-tab]) {
	margin: 0 !important;
}
/* credits to phroton or lepton idk */
.tabbrowser-tab:not([pinned]) .tab-icon-overlay[pictureinpicture] {
  /* Shape */
  display: flex !important;
  order: 2 !important;
  
  /* Color */
  fill: currentColor;
  opacity: 0.8;
  -moz-context-properties: fill;
}
/* i dunno how to separate the icon in to two so i just made some icons lol */
.tab-icon-overlay[pictureinpicture][soundplaying] {
  list-style-image: url(./icons/pictureinpicture-sound.svg) !important;
}
.tab-icon-overlay[pictureinpicture][muted] {
  list-style-image: url(./icons/pictureinpicture-muted2.svg) !important;
}
/* Removes Proton's own border around the tab */
.tab-background:is([selected], [multiselected]):-moz-lwtheme {
	border: none !important;
}
/* Hides the "PLAYING"/"MUTED"/"PICTURE-IN-PICTURE"/"AUTOPLAY BLOCKED" text */
.tab-secondary-label {
	display: none !important;
}
/* Adds the Photon highlight around the tab */
.tab-background, #firefox-view-button image {
	outline: none !important;
}
:root:not([style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"], 
[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"]) #TabsToolbar[style*="--lwt-tab-line-color: rgba(0, 0, 0, 0)"] {
	--photon-tab-outline: var(--lwt-accent-color);
}
.tab-background::before {
	display: block;
	content: "";
	height: 2px;
	transition: all .25s cubic-bezier(.07,.95,0,1);
	background: var(--photon-tab-outline, var(--lwt-tab-line-color, var(--lwt-tabs-border-color, #0a84ff)));
	width: 100%;
}
.tab-background:not([selected], [multiselected="true"])::before {
	width: 0px;
	opacity: 0;
	filter: grayscale(100%);
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected])::before {
	display: block;
	content: "";
	height: 2px;	
	width: 100%;
	opacity: .5;
	background: var(--photon-tab-outline, var(--lwt-tab-line-color, var(--lwt-tabs-border-color, #0a84ff)));
	filter: grayscale(100%);
}
.tabbrowser-tab:hover > .tab-stack > .tab-background[multiselected="true"]::before {
	filter: grayscale(0%)
}
/**/
@media (-moz-platform: windows) {
	:root[sizemode="normal"] .tab-background::before {
		height: 3px !important;
	}
}
/* Adds an effect to the highlight that wasn't there in Photon */
/* Remove if unwanted */
.tabbrowser-tab:hover > .tab-stack > .tab-background[selected]::before {
	filter: brightness(125%) saturate(150%)
}
/* Removes the spacing between tabs */
.tabbrowser-tab {
	padding: 0 !important;
}
/* Makes the new tab button more Photon-like */
#tabs-newtab-button, #TabsToolbar #new-tab-button {
	margin-top: 1px !important;
	margin-bottom: -1px !important;
	width: 32px !important;
	height: 32px !important;
}
:is(#tabs-newtab-button, #new-tab-button) > image {
	padding: 6px !important;
	width: 28px !important;
	height: 28px !important;
	list-style-image: url(./icons/add.svg) !important;
}
/* Firefox View */
:root:not([privatebrowsingmode="temporary"], [firefoxviewhidden], [sizemode="normal"]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs:not([overflow]) {
	padding-inline-start: 0 !important;
}
:root:not([privatebrowsingmode="temporary"], [firefoxviewhidden], [sizemode="normal"]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs[overflow] {
	padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
}
:root:not([privatebrowsingmode="temporary"], [firefoxviewhidden])[sizemode="normal"] :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs:not([overflow]) {
	padding-inline-start: 0px !important;
}
:root:not([privatebrowsingmode="temporary"], [firefoxviewhidden])[sizemode="normal"] :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs[overflow] {
	padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
}
#TabsToolbar #firefox-view-button {
	margin-bottom: 0 !important;
	padding-inline: 0 !important;
}
#TabsToolbar #firefox-view-button .toolbarbutton-icon {
	box-shadow: none !important;
}
#TabsToolbar #firefox-view-button::before {
	display: block;
	content: "";
	height: 2px;
	width: var(--tab-min-height);
	transition: all .25s cubic-bezier(.07,.95,0,1);
	background: var(--photon-tab-outline, var(--lwt-tab-line-color, var(--lwt-tabs-border-color, #0a84ff)));
	position: absolute !important;
	top: 0 !important;
	filter: grayscale(100%);
}
#TabsToolbar #firefox-view-button[aria-pressed="true"]::before {
	filter: grayscale(0%);
}
#TabsToolbar #firefox-view-button:not([aria-pressed="true"], :hover)::before {
	opacity: 0;
	width: 0;
}
#TabsToolbar #firefox-view-button:not([aria-pressed="true"]):hover::before {
	filter: grayscale(100%);
	opacity: .5;
}
#TabsToolbar #firefox-view-button + #tabbrowser-tabs {
	margin-inline-start: -1px !important;
}
:root[sizemode="normal"] #TabsToolbar #firefox-view-button::before {
	height: 3px;
}
:root:not([privatebrowsingmode], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs {
  border-inline-start-color: transparent !important;
}
/* Photonize the All tabs button */
#alltabs-button {
	list-style-image: url(./icons/back-12.svg) !important;
	rotate: -90deg;
}
#alltabs-button {
	margin-top: 1px !important;
	margin-bottom: -1px !important;
	width: 32px !important;
	height: 32px !important;
}
/* Adds back the Photon tab-separators */
:is(:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"],
:root[style*="--lwt-accent-color: white; --lwt-text-color: rgba(0, 0, 0);"])
.tabbrowser-tab:not([selected="true"], :hover) 
.tab-stack::before {
	content: "";
	position: absolute;
	display: block;
	height: 64px;
	right: 0;
	border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);
	z-index: 0;
}
.tabbrowser-tab:not([selected="true"]) 
.tab-stack::before {
	content: "";
	position: absolute;
	display: block;
	height: 64px;
	right: 0;
	border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);
	z-index: 0;
}
/* :has is kinda broken: https://bugzilla.mozilla.org/show_bug.cgi?id=1792501 */
.tabbrowser-tab:has(+ .tabbrowser-tab[selected="true"]:not([hidden])) 
.tab-stack::before, :root #firefox-view-button[open] + #tabbrowser-tabs arrowscrollbox > :first-child:not([selected="true"]) .tab-stack::after {
	border-right-color: transparent !important;
}
:root:not([sizemode="maximized"], [sizemode="fullscreen"]) .tabbrowser-tab:not([selected="true"], 
[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"], 
[style*="--lwt-accent-color: white; --lwt-text-color: rgba(0, 0, 0);"]):first-child
.tab-stack::after, :root #firefox-view-button + #tabbrowser-tabs arrowscrollbox > :first-child:not([selected="true"]) .tab-stack::after {
	content: "";
	position: absolute;
	display: block;
	height: 64px;
	left: 0;
	border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);
	z-index: 0;
    bottom: 0px !important;
}
.tabbrowser-tab[pinned]
.tab-stack::before {
  bottom: 0px !important;
}
#tabbrowser-tabs::after {
	display: none !important;
}
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
	> #tabbrowser-arrowscrollbox
	> .tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: 0px !important;
}
/* Change the N in "left: Npx !important;" to different values if you're having issues or change left to right for rtl languages */
.tabbrowser-tab[pinned][first-visible-tab] {
	position: absolute !important;
	left: 0px !important;
}
:root:not([sizemode="maximized"], [sizemode="fullscreen"]) .tabbrowser-tab[pinned][first-visible-tab] {
	position: absolute !important;
	left: 40px !important;
}
/* Makes the container tab label more-photon like */
.tabbrowser-tab:not([pinned])[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
	translate: 0 30px !important;
	border-radius: 0px !important;
	margin-left: 30px !important;
	margin-right: 30px !important;
	transition: margin .2s cubic-bezier(.07,.95,0,1) !important
}
.tabbrowser-tab:not([pinned])[usercontextid][selected] > .tab-stack > .tab-background > .tab-context-line {
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.tabbrowser-tab[pinned][usercontextid] > .tab-stack > .tab-background > .tab-context-line {
	translate: 0 30px !important;
	border-radius: 0px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
	transition: margin .2s cubic-bezier(.07,.95,0,1) !important
}
.tabbrowser-tab[pinned][usercontextid][selected] > .tab-stack > .tab-background > .tab-context-line {
	margin-left: 2px !important;
	margin-right: 2px !important;
}

/* Adds a separator between the tracking-protection icon and the rest of the urlbar */
#tracking-protection-icon-container {
	margin-right: 1px !important;
}
#tracking-protection-icon-container:not(:hover, :active, [open])::after {
	content: "";
	position: absolute;
	display: block;
	height: calc(var(--urlbar-height) - 8px);
	right: -1px;
	top: 3px;
	border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);
}
#urlbar[breakout][breakout-extend="true"] #tracking-protection-icon-container:not(:hover, :active, [open])::after {
	top: 2px;
}
/* Adds a separator between the Firefox/Nightly label and the urlbar */
#identity-box.chromeUI[pageproxystate="invalid"] #identity-icon-box {
	margin-right: 5px !important;
}
#identity-box.chromeUI #identity-icon-box:not(:hover) {
	background: transparent !important;
}
#identity-box.chromeUI #identity-icon-box::after {
	content: "";
	display: block;
	translate: 8px 0px;
	height: calc(var(--urlbar-height) - 8px);
	border-left: 1px solid color-mix(in srgb, currentColor 30%, transparent);
	opacity: 0
}
#identity-box.chromeUI #identity-icon-box:not(:hover, :active, [open])::after {
	opacity: 1;
}
/* Adds the Photon separator to the right of the hamburger menu button (the button with the three horizontal lines) */
:root:not([uidensity="compact"]) #PanelUI-menu-button::before {
	content: "";
	display: block;
	height: 34px;
	border-left: 1px solid color-mix(in srgb, currentColor 20%, transparent);
	margin-inline-end: 4px !important;
	margin-inline-start: -2px !important;
}
#PanelUI-menu-button {
	padding-inline-end: 4px !important;
}
:root:not([uidensity="compact"]) #nav-bar-customization-target {
	margin-inline-end: 3px !important;
}
/* Photonizes the back button */
:root:not([uidensity="compact"]) #back-button > image {
	border-radius: 50% !important;
	background-color: var(--photon-back) !important;
	outline: var(--photon-back-outline) 1px solid;
	box-shadow: 0px 0px 4px var(--photon-back-shadow) !important;
	transition: box-shadow .2s !important;
	margin-left: 1px !important
}
:root:not([uidensity="compact"]) #back-button:not([disabled]):hover > image {
	background-color: var(--photon-back-hover) !important;
	box-shadow: 0px 0px 5px var(--photon-back-shadow-hover) !important;
}
:root:not([uidensity="compact"]) #back-button:not([disabled]):active > image {
	background-color: var(--photon-back-active) !important;
}/*
@media (prefers-color-scheme: dark) {
	:root:not([style*="--lwt-accent-color: white; --lwt-text-color: rgba(0, 0, 0);"]) #back-button {
		fill: #cdcdcd !important;
	}
}*/
/* Navigation button padding stuff */
#nav-bar-customization-target {
	padding-left: 2px !important;
}
#nav-bar-customization-target toolbarbutton {
	padding-inline: 1px !important;
}
#nav-bar-customization-target .unified-extensions-item {
	padding-inline: 0px !important;
	margin-inline: 0 !important;
}
.container.infobar :is(.icon, .close) {
	translate: 0 1px !important;
}
/* Full-size scrollbox buttons */
#scrollbutton-down[part="scrollbutton-down"]:hover:not([disabled], .menupopup-scrollbutton),
#scrollbutton-up[part="scrollbutton-up"]:hover:not([disabled], .menupopup-scrollbutton) {
	border-color: var(--toolbarbutton-hover-background) !important;
	border-radius: 0 !important;
}
#scrollbutton-down[part="scrollbutton-down"]:hover:active:not([disabled], .menupopup-scrollbutton),
#scrollbutton-up[part="scrollbutton-up"]:hover:active:not([disabled], .menupopup-scrollbutton) {
	border-color: var(--toolbarbutton-active-background) !important;
	border-radius: 0 !important;
}
/* URL bar */ 
#urlbar {
	--urlbar-height: 30px !important;
}
:root[uidensity="touch"] #urlbar {
	--urlbar-height: 36px !important;
}
:root[uidensity="compact"] #urlbar {
	--urlbar-height: 26px !important;
}
#searchbar {
	--urlbar-min-height: 30px !important;
}
:root[uidensity="touch"] #searchbar {
	--urlbar-min-height: 36px !important;
}
:root[uidensity="compact"] #searchbar {
	--urlbar-min-height: 26px !important;
}
#urlbar:not([breakout-extend="true"]) #urlbar-background {
  height: var(--urlbar-height);
}
:root:not([uidensity="touch"]) #urlbar[breakout-extend="true"] {
	translate: 0 1px 
}
#urlbar-input-container {
	margin-top: -1px !important;
}
:root[uidensity="touch"] #urlbar-input-container {
	margin-top: 0px !important;
}
#urlbar:not([breakout-extend="true"]) #urlbar-input-container {
	padding-inline: 0 !important;
}
#urlbar[breakout-extend="true"] #urlbar-input-container {
	padding-right: 5px !important;
}
#urlbar-input-container {
	padding-left: 5px !important;
}
:root:is([sizemode="maximized"], [sizemode="fullscreen"]) #urlbar-input-container {
	padding-right: 5px !important;
}
.urlbarView-favicon {
	margin-inline: 0px !important;
	margin-right: 10px !important;
}
#urlbar-results[wrap] .urlbarView-url {
	margin-left: 26px !important;
}
.urlbarView-dynamic-quickactions-buttons > span {
	box-shadow: none !important;
	border: 1px solid color-mix(in srgb, currentColor 30%, transparent)
}
#searchbar:focus-within {
	border: 1px solid var(--photon-accent-dark) !important;
	outline: none !important;
}
.search-go-button {
	margin: 0 !important;
	height: 100% !important;
}
#urlbar-go-button {
	margin: 0 !important;
	width: calc(var(--urlbar-height) - 2px) !important;
	margin-inline-end: 1px !important;
}
#urlbar[breakout-extend="true"] #urlbar-go-button {
	margin-top: -1px !important;
	margin-inline-end: 1px !important;
}
.urlbarView-type-icon {
	margin-inline-start: calc(var(--urlbarView-favicon-width) - 6px) !important;
	filter: drop-shadow(0px 0px 1px var(--arrowpanel-background))
}
/* Search icon */
#identity-icon-box {
	padding: 6px !important;
}
/* Makes the page-action buttons full sized */
#page-action-buttons {
	margin: -1px !important;
}
.urlbar-page-action {
	padding-block: calc(var(--urlbar-icon-padding) + 1px) !important;
	height: calc(var(--urlbar-height) - 2px) !important;
	width: 30px !important;
}
.urlbar-page-action image {
	translate: 1px !important;
}
/* compact */
:root[uidensity="compact"] #page-action-buttons {
	margin: -1px !important;
}
:root[uidensity="compact"] .urlbar-page-action {
	padding-block: calc(var(--urlbar-icon-padding) + 2px) !important;
	height: calc(var(--urlbar-height) - 2px) !important;
	width: var(--urlbar-height) !important;
}
:root[uidensity="compact"] .urlbar-page-action image {
	translate: 2px !important;
}
:root[uidensity="compact"] #urlbar-input-container {
	height: calc(var(--urlbar-height) + 2px) !important;
}
/* touch */
:root[uidensity="touch"] #page-action-buttons {
	margin: -1px !important;
}
:root[uidensity="touch"] .urlbar-page-action {
	padding-block: calc(var(--urlbar-icon-padding) + 3px) !important;
	height: calc(var(--urlbar-height) - 1px) !important;
	width: var(--urlbar-height) !important;
}
:root[uidensity="touch"] .urlbar-page-action image {
	translate: 3px !important;
}
/* Resize toolbar buttons */
:root:not([uidensity]) .toolbarbutton-1 stack {
	padding: 6px !important;
	margin-inline: 1px !important;
}
:root:not([uidensity]) #nav-bar .toolbarbutton-1:not(#back-button) > image {
	width: 28px !important;
	height: 28px !important;
	padding: calc(var(--toolbarbutton-inner-padding) - 2px) !important;
	margin-inline: 1px !important;
}
/* Fixes for compact mode */
:root[uidensity="compact"] #urlbar[breakout-extend="true"] {
  padding-top: 4px !important;
}
:root[uidensity="compact"] #urlbar[breakout-extend="true"] #tracking-protection-icon-container:not(:hover, :active, [open])::after {
	top: 2px;
}
:root[uidensity="compact"] #urlbar[breakout-extend="true"] :is(#tracking-protection-icon-container, #identity-box) {
	height: calc(var(--urlbar-height) - 4px) !important;
	margin-block: -2px !important;
}
:root[uidensity="compact"] #nav-bar {
	height: 32px !important;
	/*align-items: center !important;*/
}
/* Fixes for touch mode */
:root[uidensity="touch"] #tracking-protection-icon-container:not(:hover, :active, [open])::after {
	top: 2px;
}
:root[uidensity="touch"] :is(#tabs-newtab-button image, #new-tab-button image) {
	height: var(--tab-min-height) !important;
	margin-top: 8px !important;
}
:root[uidensity="touch"] #alltabs-button {
	height: var(--tab-min-height) !important;
	margin-left: 4px !important;
}
/* Megabar */
@supports not (-moz-bool-pref("uc.reduced-megabar") or -moz-bool-pref("uc.no-megabar")) {
	#urlbar[focused="true"]:not([breakout][breakout-extend]) {
		z-index: 3
	}
	#urlbar[focused="true"]:not([breakout][breakout-extend]) #urlbar-background {
		margin-inline: -8px !important;
		margin-block: -7px !important;
		height: calc(var(--urlbar-height) + 14px) !important;
		outline-width: 0px !important;
		border: 1px solid var(--urlbar-border-color) !important;
	}
	#urlbar[breakout][breakout-extend="true"] {
		--urlbar-margin-inline: 8px !important;
		padding: 3px !important;
		margin-top: -3px !important;
	}
	:root[uidensity="compact"] #urlbar[focused="true"]:not([breakout][breakout-extend]) #urlbar-background {
		margin-inline: -7px !important;
		margin-block: -4px !important;
		height: calc(var(--urlbar-height) + 8px) !important;
		outline-width: 0px !important;
		border: 1px solid var(--urlbar-border-color) !important;
	}
	:root[uidensity="compact"] #urlbar[breakout][breakout-extend="true"] {
		--urlbar-margin-inline: 7px !important;
		padding: 2px !important;
		padding-block-start: 4px !important;
		margin-top: -2px !important;
	}
	:root[uidensity="touch"] #urlbar[focused="true"]:not([breakout][breakout-extend]) #urlbar-background {
		margin-inline: -7px !important;
		margin-block: -6px !important;
		height: calc(var(--urlbar-height) + 12px) !important;
		outline-width: 0px !important;
		border: 1px solid var(--urlbar-border-color) !important;
	}
	:root[uidensity="touch"] #urlbar[breakout][breakout-extend="true"] {
		--urlbar-margin-inline: 7px !important;
		padding: 2px !important;
		margin-top: -2px !important;
	}
	#nav-bar:has(#urlbar[focused="true"]:not([breakout][breakout-extend])) {
		overflow: visible !important;
	}
}
@supports -moz-bool-pref("uc.reduced-megabar") {
	#urlbar[focused="true"]:not([breakout][breakout-extend]) #urlbar-background {
		border: 1px solid var(--photon-accent-dark) !important;
		outline: none !important;
	}
}
@supports -moz-bool-pref("uc.no-megabar") {
	#urlbar[focused="true"]:not([breakout][breakout-extend]) #urlbar-background {
		border: 1px solid var(--photon-accent-dark) !important;
		outline: none !important;
	}
	#urlbar[breakout][breakout-extend="true"] #urlbar-background {
		height: var(--urlbar-height) !important;
		margin-top: 4px !important;
		margin-inline: 5px !important;
		animation: none !important;
	}
	#urlbar .urlbarView {
		background: var(--toolbar-field-background-color) !important;
		padding-inline: 5px !important;
    	box-shadow: 0 5px 18px rgba(0,0,0,.2);
		border-radius: var(--photon-border-radius);
	}
	#urlbar .urlbarView-body-inner {
		border: transparent !important;
	}
	#urlbar .urlbarView-row {
		margin-block: -4px !important;
	}
	#urlbar .urlbarView-row:is(:first-child, :last-child) {
		margin-block: 0px !important;
	}
	[label="Firefox Suggest"]::before {
		display: none !important;
	}
	#urlbar .urlbarView:not([dynamicType="quickactions"]) .urlbarView-type-icon {
		filter: none;
		margin: 0 !important;
		margin-inline-end: 4px !important;
		position: static !important;
		min-width: 16px !important;
		height: 16px !important;
		order: 0;
	}
	#urlbar .urlbarView:not([dynamicType="quickactions"]) :is(.urlbarView-favicon, .urlbarView-tail-prefix) {
		order: 1;
	}
	#urlbar .urlbarView:not([dynamicType="quickactions"]) .urlbarView-title {
		order: 2;
	}
	#urlbar .urlbarView:not([dynamicType="quickactions"]) :is(.urlbarView-title-separator, .urlbarView-action) {
		order: 3;
	}
	#urlbar-results[wrap] .urlbarView-url {
		margin-left: 46px !important;
	}
}
#urlbar[breakout][breakout-extend][open] > #urlbar-background {
    box-shadow: 0 5px 18px rgba(0,0,0,.2) !important;
}
#urlbar .search-one-offs *:not(toolbarseparator) {
	color: var(--toolbarbutton-icon-fill) !important;
}
/* Multiselected tabs */
.tab-background[multiselected="true"] {
	outline: none !important;
	background: var(--button-hover-bgcolor) !important;
}

/* Private browsing icon */
#private-browsing-indicator-with-label label {
	display: none;
}
#private-browsing-indicator-with-label image {
	height: 20px !important;
	width: 20px !important;
}

/* URL bar zoom button */
#urlbar-zoom-button {
	border-radius: 9px !important;
	border: 1px solid var(--panel-separator-color) !important;
	background-color: color-mix(in srgb, currentColor 9%, transparent) !important;
	padding-block: 0 !important;
}
#urlbar-zoom-button .toolbarbutton-text {
	padding-inline: 4px !important;
}
#urlbar-zoom-button:hover{
	background-color: color-mix(in srgb, currentColor 25%, transparent) !important;
}
#urlbar-zoom-button:hover:active {
	background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
}

/* Notications below URLBar */
.container.infobar::before {
	display: none !important;
}
.container.infobar .close {
	margin-inline: 5px !important;
}
.container.infobar .icon {
	margin-inline-start: 11px !important;
}