/* Tabs and Urlbar */
/* And sidebar */
@-moz-document url-prefix("chrome://"), url-prefix("resource://") {
/* Changes the tab height */
/* Adjustments for each UI density */
:root:not([uidensity="compact"], [uidensity="touch"]) {
	--tab-min-height: 33px !important;
}
:root[sizemode="normal"]:not([uidensity="compact"], [uidensity="touch"]) {
	--tab-min-height: 34px !important;
}
:root[uidensity="compact"] {
	--tab-min-height: 31px !important;
}
@media (-moz-platform: linux) {
	.tabbrowser-tab {
		height: calc(var(--tab-min-height) + 1px) !important;
	}
}
/* Makes the tab photon-like + adds a transition */
.tab-close-button {
	border-radius: var(--photon-border-radius) !important;
	transition: background var(--photon-speed-1) var(--photon-easing-function) !important;
}
.tab-close-button {
	padding-inline: 0px !important;
	padding-block: 0px !important;
	margin-inline-end: -2px !important;
	width: 20px !important;
	height: 20px !important;
}
.tabbrowser-tab > .tab-stack > .tab-background {
	border-radius: 0 !important;
	margin: 0 !important;
	box-shadow: none !important;
	transition: background var(--photon-speed-1) var(--photon-easing-function) !important;
}
/* Removes the spacing between tabs */
.tabbrowser-tab {
	padding: 0 !important;
}
/* Prevents navbar from overlapping tabs bar and creating an outline between the tabs and navbar */
.tabbrowser-tab, #TabsToolbar #firefox-view-button, #titlebar {
	z-index: 1 !important;
}
.tabbrowser-tab[selected] {
	z-index: 2 !important;
}
.tab-drop-indicator {
	z-index: 3 !important;
}

:root[tabsintitlebar] #titlebar:-moz-window-inactive {
	opacity: 1 !important;
	.tab-content {
		opacity: 0.8;
	}
}
/* Pushes the sound icon off to the side and makes the website favicon always show to make it
so that the sound icon doesn't look out of place
credits to phroton for some of this stuff */
#TabsToolbar .tabbrowser-tab:not([pinned]) .tab-icon-overlay {
	border-radius: var(--photon-border-radius) !important;
	padding: 0px !important;
	opacity: 1 !important;
	position: relative !important;
	left: 100% !important;
	transition: background var(--photon-speed-1) var(--photon-easing-function) !important;
	top: 0px !important
}
.tab-icon-image:not([sharing]) {
	&:not([sharing]) {
		opacity: 1 !important;
	}
	&:not([busy]) {
		display: block !important;
	}
}
#TabsToolbar .tabbrowser-tab:not([pinned]) .tab-icon-stack {
	position: absolute !important;
	width: calc(100% - 6px - 48px) !important;
}
#tabbrowser-tabs[closebuttons^="activetab"] .tabbrowser-tab:not([visuallyselected]) .tab-icon-stack {
	width: calc(100% - 32px) !important;
}
.tabbrowser-tab:not([pinned])[image] .tab-label-container, .tabbrowser-tab[busy] .tab-label-container {
	margin-inline-start: 21px !important;
}
.tabbrowser-tab:is([muted], [soundplaying], [activemedia-blocked], [crashed="true"]) .tab-label-container {
	margin-right: 20px;
}
/* Fixes for pinned tabs */
.tabbrowser-tab[pinned] .tab-icon-overlay {
	transition: background var(--photon-speed-1) var(--photon-easing-function) !important;
	padding: 1px !important;
	background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent),
		var(--lwt-selected-tab-background-color, transparent)),
		linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
		var(--lwt-header-image, none) !important;
}
:root[lwtheme="true"] .tabbrowser-tab:not([selected])[pinned] .tab-icon-overlay {
	background: var(--lwt-accent-color) !important;
}
#tabbrowser-tabs[haspinnedtabs]:not([overflow]) .tabbrowser-tab {
	margin-inline-start: 0 !important;
}
/* This will hide the label for pinned tabs cuz i'm lazy and dont wanna properly push the label off of the tab */
.tabbrowser-tab[pinned] .tab-label-container {
	display: none !important;
}
.tabbrowser-tab:is([pinned][first-visible-tab]) {
	margin: 0 !important;
}
/* from lepton */
.tabbrowser-tab:not([pinned]) .tab-icon-overlay[pictureinpicture] {
	/* Shape */
	display: flex !important;
	order: 2 !important;

	/* Color */
	fill: currentColor;
	opacity: 0.8;
	-moz-context-properties: fill;
}
.tab-icon-overlay[pictureinpicture][soundplaying] {
	list-style-image: url(./icons/pictureinpicture-sound.svg) !important;
}
.tab-icon-overlay[pictureinpicture][muted] {
	list-style-image: url(./icons/pictureinpicture-muted2.svg) !important;
}
/* Removes Proton's own border around the tab */
.tab-background:is([selected], [multiselected]):-moz-lwtheme {
	border: none !important;
}
.tab-background, #firefox-view-button image {
	outline: none !important;
}
/* Hides the "PLAYING"/"MUTED"/"PICTURE-IN-PICTURE"/"AUTOPLAY BLOCKED" text */
.tab-secondary-label {
	display: none !important;
}
/* Adds the Photon highlight around the tab */
:root:not([style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"], 
[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"]) #TabsToolbar[style*="--lwt-tab-line-color: rgba(0, 0, 0, 0)"] {
	--photon-tab-outline: var(--lwt-accent-color);
}
.tab-background {
	&::before {
		display: block;
		content: "";
		height: 2px;
		transition: all var(--photon-speed-2) var(--photon-easing-function);
		background: var(--photon-tab-outline, var(--lwt-tab-line-color, var(--lwt-tabs-border-color, #0a84ff)));
		width: 100%;
		margin: auto;
	}
	&:not([selected], [multiselected="true"])::before {
		width: 0%;
		opacity: 0;
		filter: grayscale(100%);
	}
	.tabbrowser-tab:hover > .tab-stack > & {
		&:not([selected])::before {
			display: block;
			content: "";
			height: 2px;	
			width: 100%;
			opacity: .5;
			background: var(--photon-tab-outline, var(--lwt-tab-line-color, var(--lwt-tabs-border-color, #0a84ff)));
			filter: grayscale(100%);
		}
		&[multiselected="true"]::before {
			filter: grayscale(0%);
		}
	}
}

/* Windows stuff */
@media (-moz-platform: windows) {
	:root[sizemode="normal"] .tab-background::before {
		translate: 0 1px
	}
}

/* Adds an effect to the highlight that wasn't there in Photon */
/* Remove if unwanted */
.tabbrowser-tab:hover > .tab-stack > .tab-background[selected]::before {
	filter: brightness(125%) saturate(150%)
}
/* Makes the new tab button more Photon-like */
#tabs-newtab-button, #TabsToolbar #new-tab-button {
	margin-top: 1px !important;
	margin-bottom: -1px !important;
	width: 32px !important;
	height: 32px !important;
}
#tabs-newtab-button, #new-tab-button {
	> image {
		padding: 6px !important;
		width: 28px !important;
		height: 28px !important;
	}
}
/* Firefox View */
:root:not([privatebrowsingmode="temporary"], [firefoxviewhidden]) {
	#tabbrowser-tabs {
		&[overflow] {
			padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
		}
		&:not([overflow]) {
			padding-inline-start: 0 !important;
		}
		border-inline-start-color: transparent !important;
	}
}
#TabsToolbar #firefox-view-button {
	margin-bottom: 0 !important;
	padding-inline: 0 !important;
	.toolbarbutton-icon {
		box-shadow: none !important;
		transition: all var(--photon-speed-2) var(--photon-easing-function) !important;
		--toolbarbutton-hover-background: var(--tab-hover-background-color) !important;
	}
	&::before {
		display: block;
		content: "";
		height: 2px;
		width: var(--tab-min-height);
		transition: all var(--photon-speed-2) var(--photon-easing-function);
		background: var(--photon-tab-outline, var(--lwt-tab-line-color, var(--lwt-tabs-border-color, #0a84ff)));
		position: absolute !important;
		translate: 0 calc(-1 * var(--tab-min-height)/2);
		filter: grayscale(100%);
	}
	&[aria-pressed="true"]::before {
		filter: grayscale(0%);
	}
	&:not([aria-pressed="true"], :hover)::before {
		opacity: 0;
		width: 0;
	}
	&:not([aria-pressed="true"]):hover::before {
		filter: grayscale(100%);
		opacity: .5;
	}
}
#TabsToolbar #firefox-view-button + #tabbrowser-tabs {
	margin-inline-start: -1px !important;
}
@media (-moz-platform: windows) {
	:root[sizemode="normal"] #TabsToolbar #firefox-view-button::before {
		translate: 0 calc(-1 * var(--tab-min-height)/2 + 2px);
	}
}
/* All tabs button */
#alltabs-button {
	margin-top: 1px !important;
	margin-bottom: -1px !important;
	width: 32px !important;
	height: 32px !important;
}
/* Adds back the Photon tab-separators */
:is(:root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"],
:root[style*="--lwt-accent-color: white; --lwt-text-color: rgba(0, 0, 0);"])
#TabsToolbar .tabbrowser-tab:not([selected="true"], :hover), #TabsToolbar .tabbrowser-tab:not([selected="true"]) {
	.tab-stack::before {
		content: "";
		position: absolute;
		display: block;
		height: 64px;
		right: 0;
		border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);
		z-index: 0;
	}
}
.tabbrowser-tab:has(+ .tabbrowser-tab[selected="true"]:not([hidden])) .tab-stack::before,
:root #firefox-view-button[open] + #tabbrowser-tabs arrowscrollbox > :first-child:not([selected="true"]) .tab-stack::after {
	border-right-color: transparent !important;
}
:root:not([sizemode="maximized"], [sizemode="fullscreen"]) .tabbrowser-tab:not([selected="true"], 
[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"], 
[style*="--lwt-accent-color: white; --lwt-text-color: rgba(0, 0, 0);"]):first-child
#TabsToolbar .tab-stack::after, :root #firefox-view-button + #tabbrowser-tabs arrowscrollbox > :first-child:not([selected="true"]) .tab-stack::after {
	content: "";
	position: absolute;
	display: block;
	height: 64px;
	left: 0;
	border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);
	z-index: 0;
    bottom: 0px !important;
}

.tabbrowser-tab[pinned]
.tab-stack::before {
	bottom: 0px !important;
}
#tabbrowser-tabs::after {
	display: none !important;
}
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
	> #tabbrowser-arrowscrollbox
	> .tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: 0px !important;
}
/* Change the N in "left: Npx !important;" to different values if you're having issues or change left to right for rtl languages */
.tabbrowser-tab[pinned][first-visible-tab] {
	position: absolute !important;
	left: 0px !important;
}
:root:not([sizemode="maximized"], [sizemode="fullscreen"]) .tabbrowser-tab[pinned][first-visible-tab] {
	left: 40px !important;
}
/* Makes the container tab label more-photon like */
.tabbrowser-tab[usercontextid] {
	> .tab-stack > .tab-background > .tab-context-line {
		translate: 0 calc(var(--tab-min-height) - 3px) !important;
		border-radius: 0px !important;
		transition: all var(--photon-speed-1) var(--photon-easing-function) !important;
		justify-self: center !important;
		margin-inline: auto !important;
		.tabbrowser-tab:not([pinned]) & {
			width: 60% !important;
			.tabbrowser-tab[selected] & {
				width: 80% !important;
			}
		}
		.tabbrowser-tab[pinned] & {
			margin-inline: 10px !important;
			.tabbrowser-tab[selected] & {
				margin-inline: 4px !important;
			}
		}
	}
}
/* Adds a separator between the tracking-protection icon and the rest of the urlbar */
#tracking-protection-icon-container {
	margin-right: 1px !important;
	&:not(:hover, [open])::after {
		content: "";
		position: absolute;
		display: block;
		height: calc(var(--urlbar-height) - 8px);
		right: -1px;
		top: 3px;
		border-right: 1px solid color-mix(in srgb, var(--toolbar-field-color, currentColor) 20%, transparent);
	}
	&:is(:hover, [open]) {
		padding-inline-end: calc(var(--urlbar-icon-padding) + 1px) !important;
		margin-right: 0px !important;
	}
}
#urlbar[breakout][breakout-extend="true"] #tracking-protection-icon-container:not(:hover, :active, [open])::after {
	top: 2px;
}
/* Adds a separator between the Firefox/Nightly label and the urlbar */
#identity-box.chromeUI {
	&[pageproxystate="invalid"] #identity-icon-box {
		margin-right: 5px !important;
	}
	#identity-icon-box:not(:hover, [open]) {
		background: transparent !important;
	}
	#identity-icon-box::after {
		content: "";
		display: block;
		translate: 6px 0px;
		height: calc(var(--urlbar-height) - 8px);
		border-left: 1px solid color-mix(in srgb, var(--toolbar-field-color, currentColor) 20%, transparent);
		opacity: 0
	}
	#identity-icon-box:not(:hover, :active, [open])::after {
		opacity: 1;
	}
}
/* Adds the Photon separator to the right of the hamburger menu button (the button with the three horizontal lines) */
:root:not([uidensity="compact"]) #PanelUI-menu-button::before {
	content: "";
	display: block;
	height: 34px;
	border-left: 1px solid color-mix(in srgb, currentColor 20%, transparent);
	margin-inline-end: 4px !important;
	margin-inline-start: -2px !important;
}
#PanelUI-menu-button {
	padding-inline-end: 4px !important;
}
:root:not([uidensity="compact"]) #nav-bar-customization-target {
	margin-inline-end: 3px !important;
}
/* Photonizes the back button */
:root:not([uidensity="compact"]) #back-button {
	> image {
		border-radius: 50% !important;
		background-color: var(--photon-back) !important;
		outline: var(--photon-back-outline) 1px solid;
		box-shadow: 0px 0px 4px var(--photon-back-shadow) !important;
		transition: box-shadow var(--photon-speed-1) var(--photon-easing-function) !important;
		margin-left: 1px !important
	}
	&:not([disabled]) {
		&:hover > image {
			background-color: var(--photon-back-hover) !important;
			box-shadow: 0px 0px 5px var(--photon-back-shadow-hover) !important;
		}
		&:active > image {
			background-color: var(--photon-back-active) !important;
			box-shadow: 0px 0px 5px var(--photon-back-shadow-hover) !important;
		}
	}
}
/* Navigation button padding stuff */
#nav-bar-customization-target {
	padding-left: 2px !important;
	toolbarbutton {
		padding-inline: 1px !important;
	}
	.unified-extensions-item {
		padding-inline: 0px !important;
		margin-inline: 0 !important;
	}
}
.container.infobar :is(.icon, .close) {
	translate: 0 1px !important;
}
.notificationbox-stack notification-message::before {
	display: none !important;
}
.container {
	padding-inline-start: var(--space-medium) !important;
	padding-inline-end: calc(var(--space-small) - var(--space-xxsmall)) !important;
}
/* Full-size scrollbox buttons */
#scrollbutton-down[part="scrollbutton-down"]:hover:not([disabled], .menupopup-scrollbutton),
#scrollbutton-up[part="scrollbutton-up"]:hover:not([disabled], .menupopup-scrollbutton) {
	border-color: var(--toolbarbutton-hover-background) !important;
	border-radius: 0 !important;
}
#scrollbutton-down[part="scrollbutton-down"]:hover:active:not([disabled], .menupopup-scrollbutton),
#scrollbutton-up[part="scrollbutton-up"]:hover:active:not([disabled], .menupopup-scrollbutton) {
	border-color: var(--toolbarbutton-active-background) !important;
	border-radius: 0 !important;
}

/* URL bar */
#urlbar-background {
	translate: 0 1px !important;
	:root[uidensity] & {
		translate: 0 0 !important;
	}
	#urlbar:not([breakout-extend="true"]) & {
		height: var(--urlbar-height) !important;
	}
}
#urlbar, #searchbar {
	--urlbar-height: 30px !important;
	align-content: center !important;
	
	:root[uidensity="touch"] & {
		--urlbar-height: 36px !important;
	}
	:root[uidensity="compact"] & {
		--urlbar-height: 26px !important;
	}
	:root:not([uidensity="touch"]) &[breakout-extend="true"] {
		translate: 0 1px !important;
	}
	&#searchbar {
		--urlbar-min-height: 30px !important;
		:root[uidensity="touch"] & {
			--urlbar-min-height: 36px !important;
		}
		:root[uidensity="compact"] & {
			--urlbar-min-height: 26px !important;
		}
	}
}
#searchbar:focus-within {
	border: 1px solid var(--photon-accent-dark) !important;
	outline: none !important;
}
.search-go-button {
	margin: 0 !important;
	height: 100% !important;
}
.urlbar-input-container {
	margin-top: -1px !important;
	padding-left: 5px !important;
	:root[uidensity="touch"] & {
		margin-top: 0px !important;
	}
	#urlbar:not([breakout-extend="true"]) & {
		padding-inline: 0 !important;
	}
	#urlbar[breakout-extend="true"] &, :root:is([sizemode="maximized"], [sizemode="fullscreen"]) & {
		padding-right: 5px !important;
	}
}
#urlbar-results[wrap] .urlbarView-url {
	margin-left: 26px !important;
}
.urlbarView-favicon {
	margin-inline: 0px !important;
	margin-right: 10px !important;
}
.urlbarView-type-icon {
	margin-inline-start: calc(var(--urlbarView-favicon-width) - 6px) !important;
}
.urlbarView-dynamic-quickactions-buttons > span {
	box-shadow: none !important;
	border: 1px solid color-mix(in srgb, currentColor 30%, transparent)
}
#urlbar-go-button, .urlbar-go-button {
	margin: 0 !important;
	width: calc(var(--urlbar-height) - 2px) !important;
	margin-inline-end: 1px !important;
	#urlbar[breakout-extend="true"] & {
		margin-top: -1px !important;
	}
} 
.urlbarView-action {
	:root[uidensity="compact"] & {
		translate: -1px -1px;
	}
	:root:not([uidensity]) & {
		margin-block-end: -3px !important;
		margin-inline-end: -3px !important;
	}
}
/* Makes the page-action buttons full sized */
#identity-icon-box {
	padding: 6px !important;
}
#page-action-buttons {
	margin: -1px !important;
}
#translations-button-locale {
	translate: 4px -2px;
}
.urlbar-page-action {
	padding-block: calc(var(--urlbar-icon-padding) + 1px) !important;
	height: calc(var(--urlbar-height) - 2px) !important;
	width: var(--urlbar-height) !important;
	&[translationsactive="true"] {
		width: calc(var(--urlbar-height) + 20px) !important;
	}
	image {
		translate: 1px !important;
	}
}
/* Compact mode fixes */
:root[uidensity="compact"] {
	.urlbar-page-action {
		padding-block: calc(var(--urlbar-icon-padding) + 2px) !important;
		&[translationsactive="true"] {
			width: calc(var(--urlbar-height) + 18px) !important;
		}
	}
	.urlbar-page-action image {
		translate: 2px !important;
	}
	.urlbar-input-container {
		height: calc(var(--urlbar-height) + 2px) !important;
	}
	#urlbar[breakout-extend="true"] {
		padding-top: 4px !important;
		#tracking-protection-icon-container, #identity-box {
			height: calc(var(--urlbar-height) - 4px) !important;
			margin-block: -2px !important;
		}
	}
	#nav-bar {
		height: 32px !important;
	}
}
/* Touch mode fixes */
:root[uidensity="touch"] {
	#page-action-buttons {
		margin: -1px !important;
	}
	.urlbar-page-action {
		padding-block: calc(var(--urlbar-icon-padding) + 3px) !important;
		height: calc(var(--urlbar-height) - 1px) !important;
	}
	.urlbar-page-action image {
		translate: 3px !important;
	}
	#tracking-protection-icon-container:not(:hover, :active, [open])::after {
		top: 2px;
	}
	#tabs-newtab-button, #new-tab-button {
		image {
			height: var(--tab-min-height) !important;
			margin-top: 8px !important;
		}
	} 
	#alltabs-button {
		height: var(--tab-min-height) !important;
		margin-left: 4px !important;
	}
}
/* Resize toolbar buttons */
:root:not([uidensity]) .toolbarbutton-1 stack {
	padding: 6px !important;
	margin-inline: 1px !important;
}
:root:not([uidensity]) #nav-bar .toolbarbutton-1:not(#back-button) > image {
	width: 28px !important;
	height: 28px !important;
	padding: calc(var(--toolbarbutton-inner-padding) - 2px) !important;
	margin-inline: 1px !important;
}
/* Megabar */
@media not ((-moz-bool-pref: "uc.reduced-megabar") or (-moz-bool-pref: "uc.no-megabar")) {
	#urlbar[focused]:not([breakout][breakout-extend]) {
		z-index: 3;
	}
	#urlbar[focused]:not([breakout][breakout-extend]) #urlbar-background {
		margin-inline: -8px !important;
		margin-block: -7px !important;
		height: calc(var(--urlbar-height) + 14px) !important;
		outline-width: 0px !important;
		border: 1px solid var(--urlbar-border-color) !important;
	}
	#urlbar[breakout][breakout-extend="true"] {
		--urlbar-margin-inline: 8px !important;
		padding: 3px !important;
		margin-top: -3px !important;
	}
	:root[uidensity="compact"] #urlbar[focused]:not([breakout][breakout-extend]) #urlbar-background {
		margin-inline: -7px !important;
		margin-block: -4px !important;
		height: calc(var(--urlbar-height) + 8px) !important;
		outline-width: 0px !important;
		border: 1px solid var(--urlbar-border-color) !important;
	}
	:root[uidensity="compact"] #urlbar[breakout][breakout-extend="true"] {
		--urlbar-margin-inline: 7px !important;
		padding: 2px !important;
		padding-block-start: 4px !important;
		margin-top: -2px !important;
	}
	:root[uidensity="touch"] #urlbar[focused]:not([breakout][breakout-extend]) #urlbar-background {
		margin-inline: -7px !important;
		margin-block: -6px !important;
		height: calc(var(--urlbar-height) + 12px) !important;
		outline-width: 0px !important;
		border: 1px solid var(--urlbar-border-color) !important;
	}
	:root[uidensity="touch"] #urlbar[breakout][breakout-extend="true"] {
		--urlbar-margin-inline: 7px !important;
		padding: 2px !important;
		margin-top: -2px !important;
	}
	#nav-bar:has(#urlbar[focused]:not([breakout][breakout-extend])) {
		overflow: visible !important;
	}
	#urlbar[breakout-extend="true"] #urlbar-background {
		translate: 0 0px !important;
	}
}
@media (-moz-bool-pref: "uc.reduced-megabar") {
	#urlbar[focused]:not([breakout][breakout-extend]) #urlbar-background {
		border: 1px solid var(--photon-accent-dark) !important;
		outline: none !important;
	}
	:root[uidensity="compact"] #urlbar[breakout][breakout-extend="true"] .urlbar-input-container {
		margin-top: -3px !important;
	}
}
@media (-moz-bool-pref: "uc.no-megabar") {
	#urlbar[focused]:not([breakout][breakout-extend]) #urlbar-background {
		border: 1px solid var(--photon-accent-dark) !important;
		outline: none !important;
	}
	#urlbar[breakout][breakout-extend="true"] #urlbar-background {
		height: var(--urlbar-height) !important;
		margin-top: 3px !important;
		margin-inline: 5px !important;
		animation: none !important;
		:root[uidensity="compact"] & {
			margin-top: 2px !important;
		}
		:root[uidensity="touch"] & {
			margin-top: 4px !important;
		}
	}
	:root[uidensity="compact"] #urlbar[breakout][breakout-extend="true"] .urlbar-input-container {
		margin-top: -3px !important;
	}
	#urlbar .urlbarView {
		background: var(--toolbar-field-background-color) !important;
		padding-inline: 5px !important;
    	box-shadow: 0 5px 18px rgba(0,0,0,.2);
		border-radius: var(--photon-border-radius);
	}
	#urlbar .urlbarView-body-inner {
		border: transparent !important;
	}
	#urlbar .urlbarView-row {
		margin-block: -4px !important;
	}
	#urlbar .urlbarView-row:is(:first-child, :last-child) {
		margin-block: 0px !important;
	}
	.urlbarView-row[label]::before {
		display: none !important;
	}
	#urlbar .urlbarView:not([dynamicType="quickactions"]) .urlbarView-type-icon {
		filter: none;
		margin: 0 !important;
		margin-inline-end: 4px !important;
		position: static !important;
		min-width: 16px !important;
		height: 16px !important;
		order: 0;
	}
	#urlbar .urlbarView:not([dynamicType="quickactions"]) :is(.urlbarView-favicon, .urlbarView-tail-prefix) {
		order: 1;
	}
	#urlbar .urlbarView:not([dynamicType="quickactions"]) .urlbarView-title {
		order: 2;
	}
	#urlbar .urlbarView:not([dynamicType="quickactions"]) :is(.urlbarView-title-separator, .urlbarView-action) {
		order: 3;
	}
	#urlbar-results[wrap] .urlbarView-url {
		margin-left: 46px !important;
	}
}
#urlbar[breakout][breakout-extend][open] > #urlbar-background {
    box-shadow: 0 5px 18px rgba(0,0,0,.2) !important;
}
#urlbar .search-one-offs *:not(toolbarseparator) {
	color: var(--toolbarbutton-icon-fill) !important;
}
/* special case for review checker */

#shopping-sidebar-button[shoppingsidebaropen="true"] {
	background-color: var(--urlbar-box-active-bgcolor);
}
/* Multiselected tabs */
.tab-background[multiselected="true"] {
	outline: none !important;
	background: var(--button-hover-bgcolor) !important;
}
/* Private browsing icon */
#private-browsing-indicator-with-label {
	label {
		display: none;
	}
	image {
		height: 24px !important;
		width: 24px !important;
	}
} 

/* URL bar zoom button */
#urlbar-zoom-button {
	border-radius: 9px !important;
	border: 1px solid var(--panel-separator-color) !important;
	background-color: color-mix(in srgb, currentColor 9%, transparent) !important;
	padding-block: 0 !important; 
	.toolbarbutton-text {
		padding-inline: 4px !important;
	}
	&:hover {
		background-color: color-mix(in srgb, currentColor 25%, transparent) !important;
		&:active {
			background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
		}
	}
}
/* Notications below URLBar */
.container.infobar {
	&::before {
		display: none !important;
	}
	.close {
		margin-inline: 5px !important;
	}
	.icon {
		margin-inline-start: 11px !important;
	}
}

/* Revert the all tabs button behavior */
@media (-moz-bool-pref: "uc.revert-all-tabs-behavior") {
	#tabbrowser-tabs:not([overflow]) ~ #alltabs-button {
		display: none !important;
	}
}

/* Bottom tabs */
@media (-moz-bool-pref: "uc.bottom-tabs") {
	#titlebar, #PersonalToolbar {
		order: 2 !important;
	}
	#nav-bar, #TabsToolbar {
		order: 1 !important;
	}
	.titlebar-buttonbox-container {
		position: absolute !important;
		top: 0;
		right: 0;
		background: var(--toolbar-bgcolor);
		height: 40px;
	}
	:root[uidensity="touch"] .titlebar-buttonbox-container {
		height: 44px
	}
	:root[uidensity="compact"] .titlebar-buttonbox-container {
		height: 32px
	}
	#nav-bar {
		margin-inline-end: 138px;
		padding-inline-end: 40px;
	}
	@media (-moz-platform: linux) {
		#nav-bar {
			margin-inline-end: 72px;
			padding-inline-end: 40px !important;
		}
	}
	#nav-bar-customization-target {
		margin-inline-start: 30px;
	}
	@media (-moz-platform: windows) {
		:root[sizemode="normal"] #TabsToolbar #firefox-view-button::before {
			translate: 0 calc(-1 * var(--tab-min-height)/2 + 1px);
		}
		:root[sizemode="normal"] .tab-background::before {
			translate: 0 0
		}
	}
	#toolbar-menubar {
		position: absolute !important;
		width: 100%;
		top: 0 !important;
	}
	.titlebar-spacer {
		width: 0 !important;
	}
	@media (-moz-bool-pref: "uc.bottom-tabs.bookmark-on-top") {
		#PersonalToolbar {
			order: 1 !important;
		}
		#TabsToolbar {
			order: 2 !important;
		}
	}
	@media (-moz-bool-pref: "widget.gtk.rounded-bottom-corners.enabled") {
		:root[sizemode="normal"] .titlebar-buttonbox-container {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}
	:root:not([tabsintitlebar]) {
		#nav-bar {
			margin-inline-end: 0;
		}
		#nav-bar-customization-target {
			margin-inline-start: 0;
		}
	}
	:root:has(#toolbar-menubar:is([collapsed="false"], :not([inactive="true"]))) {
		#nav-bar {
			padding-top: 32px !important;
			margin-inline-end: 0 !important;
		}
		.titlebar-button {
			height: 32px !important;
		}
		@media (-moz-platform: linux) {
			&:not(:-moz-lwtheme) {
				.titlebar-button {
					height: 16px !important;
				}
			}
		} 
	}
	.titlebar-button {
		color: var(--toolbar-color) !important;
	}
}

/* Full width tabs */
@media (-moz-bool-pref: "uc.full-width-tabs") {
	.tabbrowser-tab[fadein]:not([style^="max-width"]) {
		max-width: 100vw !important;
	}
}
/* Always show close button */
@media (-moz-bool-pref: "uc.always-show-close-button") {
	#TabsToolbar #tabbrowser-tabs[closebuttons="activetab"] > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-content > .tab-close-button:not([selected]) {
		display: block !important;
	}
	.tabbrowser-tab:not([visuallyselected]) .tab-icon-stack {
		max-width: calc(100% - 54px) !important;
	}
}
/* New sidebar */
@media (-moz-bool-pref: "sidebar.revamp") {
	:root {
		--new-sidebar-width: 43px;
		&:has(sidebar-main[expanded]) {
			--new-sidebar-width: 225px;
		}
	}
	.wrapper:has(slot[name="tabstrip"]) {
		padding-inline: 5px !important;
		min-width: var(--new-sidebar-width) !important;
		width: var(--new-sidebar-width) !important;
		> :is(button-group, div):has(.expanded-button) {
			margin-inline-end: calc(var(--space-sidebar) * -1 - 2px) !important;
		}
	}
	.expanded-button {
		translate: -1px;
	}
	#sidebar-main {
		width: var(--new-sidebar-width) !important;
	}
	#sidebar-main > sidebar-main:nth-child(1) {
		--space-sidebar: var(--space-small);
		&:has(#vertical-tabs[visible]) {
			--space-sidebar: var(--space-xxsmall);
		}
	}
	#appcontent {
		box-shadow: none !important;
	}
	.sidebar-splitter {
		&:hover {
			background-color: var(--in-content-primary-button-background, var(--photon-accent)) !important;
		}
	}
	moz-radio, moz-checkbox, .extension-item {
		padding-inline: 0;
		padding-block: var(--space-small) !important;
	}
	/* Vertical tabs */
	:root #vertical-tabs {
		z-index: 0 !important;
		--collapsed-tab-width: calc(var(--new-sidebar-width) - 1px) !important;
		width: calc(var(--new-sidebar-width) - 1px) !important;
		margin-inline-start: -5px !important;
		margin-inline-end: 0px !important;
		.tabbrowser-tab {
			max-height: var(--tab-min-height) !important;
			&[selected] .tab-background {
				background-color: var(--button-active-bgcolor) !important;
			}
			&:not([selected], :has(+ .tabbrowser-tab[selected])) .tab-background {
				border-bottom: 1px solid color-mix(in srgb, currentColor 20%, transparent) !important;
			}
			&:not([selected]):first-child .tab-background {
				border-top: 1px solid color-mix(in srgb, currentColor 20%, transparent) !important;
			}
			.tab-background::before {
				translate: 0 0;
			}
			.tab-close-button {
				position: absolute !important;
				translate: -1px;
			}
			.tab-icon-stack {
				min-width: 16px !important;
				width: 16px !important;
			}
			&[selected]:hover :is(.tab-icon-image, .tab-throbber) {
				opacity: 0 !important;
			}
			&[selected]:not([pinned]):hover .tab-close-button {
				display: block !important;
			}
			.tab-icon-overlay {
				border-radius: 999px !important;
				transition: background var(--photon-speed-1) var(--photon-easing-function) !important;
				padding: 1px !important;
				background: var(--toolbar-bgcolor) !important;
			}
		}
		#tabbrowser-tabs[expanded] {
			.tabbrowser-tab {
				&[selected]:hover .tab-icon-image {
					opacity: 1 !important;
				}
				.tab-label-container {
					margin-inline-start: 8px !important;
				}
				&[pinned] .tab-label-container {
					display: flex !important;
				}
				&:not([pinned]) .tab-close-button {
					display: block !important;
				}
				.tab-icon-overlay {
					border-radius: var(--photon-border-radius) !important;
					padding: 0px !important;
					opacity: 1 !important;
					position: relative !important;
					left: 100% !important;
					transition: background var(--photon-speed-1) var(--photon-easing-function) !important;
					top: 0px !important;
				}
				.tab-icon-stack {
					left: 8px !important;
					width: calc(100% - 56px) !important;
					position: absolute;
				}
				&[pinned] .tab-icon-stack {
					width: calc(100% - 32px) !important;
				}
				.tab-label {
					margin-inline-start: 12px !important;
				}
			}
		}
		
		#tabbrowser-tabs:not([expanded]) { 
			.tabbrowser-tab {
				&[selected]:hover .tab-icon-stack {
					position: absolute !important;
				}
				&:not([pinned]) .tab-icon-overlay:is([muted], [soundplaying], [activemedia-blocked], [crashed="true"]) {
					display: block !important;
				}
			}
		}
		#tabbrowser-arrowscrollbox {
			height: 100% !important;
			&:not([overflowing]) tab {
				overflow: hidden !important;
			}
		}
		#newtab-button-container {
			margin-inline: auto !important;
		}
		#vertical-tabs-newtab-button {
			appearance: none !important;
			#tabbrowser-tabs:not([expanded]) & {aspect-ratio: 1;}
			&:active {
				background-color: var(--button-active-bgcolor) !important;
			}
		}
	}
}
}